/* Button Styles
---------------------------------------- */

/* Rollover buttons
   Based on: http://wellstyled.com/css-nopreload-rollovers.html
----------------------------------------*/
.buttons {
	float: left;
	width: auto;
	height: auto;
}

/* Rollover state */
.buttons div {
	float: left;
	margin: 0 5px 0 0;
	background-position: 0 100%;
}

/* Rolloff state */
.buttons div a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
	position: relative;
	overflow: hidden;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
/*.buttons div span		{ display: none; }*/
/*.buttons div a:hover	{ background-image: none; }*/
.buttons div span			{ position: absolute; width: 100%; height: 100%; cursor: pointer;}
.buttons div a:hover span	{ background-position: 0 100%; }

/* Sub-header (navigation bar)
--------------------------------------------- */
a.print, a.sendemail, a.fontsize, a.mcp-icon {
	display: block;
	overflow: hidden;
	height: 18px;
	text-indent: -5000px;
	text-transform: capitalize;
	text-align: left;
	background-repeat: no-repeat;
}

a.print {
	background-image: none;
	width: 22px;
}

a.sendemail {
	background-image: none;
	width: 22px;
}

a.fontsize {
	background-image: none;
	background-position: 0 -1px;
	width: 29px;
}

a.fontsize:hover {
	background-position: 0 -20px;
	text-decoration: none;
}

a.mcp-icon {
	background-image: none;
	width: 22px;
}

/* Icon images
---------------------------------------- */
.sitehome, .icon-faq, .icon-members, .icon-home, .icon-ucp, .icon-register, .icon-logout, .icon-bookmark,
.icon-bump, .icon-subscribe, .icon-unsubscribe, .icon-pages, .icon-search, .icon-portal, .icon-dkp {
	background-position: 0 50%;
	background-repeat: no-repeat;
	background-image: none;
	padding: 1px 0 0 18px;
}

/* Poster profile icons
----------------------------------------*/
ul.profile-icons {
	padding-top: 10px;
	list-style: none;
}

/* Rollover state */
ul.profile-icons li {
	float: left;
	margin: 0 6px 3px 0;
	background-position: 0 100%;
}

/* Rolloff state */
ul.profile-icons li a {
	display: block;
	width: 100%;
	height: 100%;
	background-position: 0 0;
}

/* Hide <a> text and hide off-state image when rolling over (prevents flicker in IE) */
ul.profile-icons li span { display:none; }
/*ul.profile-icons li a:hover { background: none; }*/

/* Positioning of moderator icons */
.postbody ul.profile-icons {
	float: right;
	width: auto;
	padding: 3px;
	margin: 0 0 0 0;
}

.postbody ul.profile-icons li {
	margin: 6px 3px 0 3px;
}

/* Profile & navigation icons */
.email-icon, .email-icon a				{ background: none top left no-repeat; }
.aim-icon, .aim-icon a					{ background: none top left no-repeat; }
.yahoo-icon, .yahoo-icon a				{ background: none top left no-repeat; }
.web-icon, .web-icon a					{ background: none top left no-repeat; }
.msnm-icon, .msnm-icon a				{ background: none top left no-repeat; }
.icq-icon, .icq-icon a					{ background: none top left no-repeat; }
.jabber-icon, .jabber-icon a			{ background: none top left no-repeat; }
.pm-icon, .pm-icon a					{ background: none top left no-repeat; }
.quote-icon, .quote-icon a				{ background: none top left no-repeat; }
.reply-icon, .reply-icon a				{ background: none top left no-repeat; }
.bebosn-icon, .bebosnsn-icon a			{ background: none top left no-repeat; }
.bloggersn-icon, .bloggersn-icon a		{ background: none top left no-repeat; }
.facebooksn-icon, .facebooksn-icon a	{ background: none top left no-repeat; }
.goodreadssn-icon, .goodreadssn-icon a	{ background: none top left no-repeat; }
.linkedinsn-icon, .linkedinsn-icon a	{ background: none top left no-repeat; }
.myspacesn-icon, .myspacesn-icon a		{ background: none top left no-repeat; }
.netlogsn-icon, .netlogsn-icon a		{ background: none top left no-repeat; }
.twittersn-icon, .twittersn-icon a		{ background: none top left no-repeat; }

/* Moderator icons */
.report-icon, .report-icon a	{ background: none top left no-repeat; }
.warn-icon, .warn-icon a		{ background: none top left no-repeat; }
.edit-icon, .edit-icon a		{ background: none top left no-repeat; }
.delete-icon, .delete-icon a	{ background: none top left no-repeat; }
.info-icon, .info-icon a		{ background: none top left no-repeat; }

/* Set profile icon dimensions */
ul.profile-icons li.email-icon			{ width: {IMG_ICON_CONTACT_EMAIL_WIDTH}px; height: {IMG_ICON_CONTACT_EMAIL_HEIGHT}px; }
ul.profile-icons li.aim-icon			{ width: {IMG_ICON_CONTACT_AIM_WIDTH}px; height: {IMG_ICON_CONTACT_AIM_HEIGHT}px; }
ul.profile-icons li.yahoo-icon			{ width: {IMG_ICON_CONTACT_YAHOO_WIDTH}px; height: {IMG_ICON_CONTACT_YAHOO_HEIGHT}px; }
ul.profile-icons li.web-icon			{ width: {IMG_ICON_CONTACT_WWW_WIDTH}px; height: {IMG_ICON_CONTACT_WWW_HEIGHT}px; }
ul.profile-icons li.msnm-icon			{ width: {IMG_ICON_CONTACT_MSNM_WIDTH}px; height: {IMG_ICON_CONTACT_MSNM_HEIGHT}px; }
ul.profile-icons li.icq-icon			{ width: {IMG_ICON_CONTACT_ICQ_WIDTH}px; height: {IMG_ICON_CONTACT_ICQ_HEIGHT}px; }
ul.profile-icons li.jabber-icon			{ width: {IMG_ICON_CONTACT_JABBER_WIDTH}px; height: {IMG_ICON_CONTACT_JABBER_HEIGHT}px; }
ul.profile-icons li.pm-icon				{ width: {IMG_ICON_CONTACT_PM_WIDTH}px; height: {IMG_ICON_CONTACT_PM_HEIGHT}px; }
ul.profile-icons li.bebosn-icon			{ width: {IMG_ICON_CONTACT_BEBO_WIDTH}px; height: {IMG_ICON_CONTACT_BEBO_HEIGHT}px; }
ul.profile-icons li.bloggersn-icon		{ width: {IMG_ICON_CONTACT_BLOGGER_WIDTH}px; height: {IMG_ICON_CONTACT_BLOGGER_HEIGHT}px; }
ul.profile-icons li.facebooksn-icon		{ width: {IMG_ICON_CONTACT_FB_WIDTH}px; height: {IMG_ICON_CONTACT_FB_HEIGHT}px; }
ul.profile-icons li.goodreadssn-icon	{ width: {IMG_ICON_CONTACT_GR_WIDTH}px; height: {IMG_ICON_CONTACT_GR_HEIGHT}px; }
ul.profile-icons li.linkedinsn-icon		{ width: {IMG_ICON_CONTACT_LI_WIDTH}px; height: {IMG_ICON_CONTACT_LI_HEIGHT}px; }
ul.profile-icons li.myspacesn-icon		{ width: {IMG_ICON_CONTACT_MS_WIDTH}px; height: {IMG_ICON_CONTACT_MS_HEIGHT}px; }
ul.profile-icons li.netlogsn-icon		{ width: {IMG_ICON_CONTACT_NETLOG_WIDTH}px; height: {IMG_ICON_CONTACT_NETLOG_HEIGHT}px; }
ul.profile-icons li.twittersn-icon		{ width: {IMG_ICON_CONTACT_TWIT_WIDTH}px; height: {IMG_ICON_CONTACT_TWIT_HEIGHT}px; }
ul.profile-icons li.report-icon		{ width: 19px; height: 17px; }
ul.profile-icons li.edit-icon		{ width: 16px; height: 18px; }
ul.profile-icons li.delete-icon		{ width: 16px; height: 15px; }
ul.profile-icons li.info-icon		{ width: 16px; height: 17px; }
ul.profile-icons li.warn-icon		{ width: 16px; height: 16px; }

/* Fix profile icon default margins */
ul.profile-icons li.edit-icon	{ margin-top: 3px; }
ul.profile-icons li.quote-icon	{ margin: 0 0 0 4px; }
ul.profile-icons li.reply-icon	{ margin: 0; }


/*  	
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */

a.print {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_print.png");
}

a.sendemail {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_sendemail.png");
}

a.fontsize {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_fontsize.png");
}

a.mcp-icon {
	background-image: url("{T_IMAGESET_PATH}/images/icons/biohazard-button.gif");
}

/* Icon images
---------------------------------------- */
.sitehome			{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_home.png"); }
.icon-faq			{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_faq.png"); }
.icon-members		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_members.png"); }
.icon-home			{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_home.png"); }
.icon-ucp			{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_ucp.png"); }
.icon-register		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_register.png"); }
.icon-logout		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_logout.png"); }
.icon-bookmark		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_bookmark.png"); }
.icon-bump			{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_bump.png"); }
.icon-subscribe		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_subscribe.png"); }
.icon-unsubscribe	{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_unsubscribe.png"); }
.icon-pages			{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_pages.png"); }
.icon-search		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_search.gif"); }
.icon-portal		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_portal.png"); background-position: 0 60%; }
.icon-dkp			{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon_dkp.gif"); background-position: 0 60%; padding-left: 21px; }

/* Profile & navigation icons */
.email-icon, .email-icon a				{ background-image: url("{IMG_ICON_CONTACT_EMAIL_SRC}"); }
.aim-icon, .aim-icon a					{ background-image: url("{IMG_ICON_CONTACT_AIM_SRC}"); }
.yahoo-icon, .yahoo-icon a				{ background-image: url("{IMG_ICON_CONTACT_YAHOO_SRC}"); }
.web-icon, .web-icon a					{ background-image: url("{IMG_ICON_CONTACT_WWW_SRC}"); }
.msnm-icon, .msnm-icon a				{ background-image: url("{IMG_ICON_CONTACT_MSNM_SRC}"); }
.icq-icon, .icq-icon a					{ background-image: url("{IMG_ICON_CONTACT_ICQ_SRC}"); }
.jabber-icon, .jabber-icon a			{ background-image: url("{IMG_ICON_CONTACT_JABBER_SRC}"); }
.pm-icon, .pm-icon a					{ background-image: url("{IMG_ICON_CONTACT_PM_SRC}"); }
.bebosn-icon, .bebosn-icon a			{ background-image: url("{IMG_ICON_CONTACT_BEBO_SRC}"); }
.bloggersn-icon, .bloggersn-icon a		{ background-image: url("{IMG_ICON_CONTACT_BLOGGER_SRC}"); }
.facebooksn-icon, .facebooksn-icon a	{ background-image: url("{IMG_ICON_CONTACT_FB_SRC}"); }
.goodreadssn-icon, .goodreadssn-icon a	{ background-image: url("{IMG_ICON_CONTACT_GR_SRC}"); }
.linkedinsn-icon, .linkedinsn-icon a	{ background-image: url("{IMG_ICON_CONTACT_LI_SRC}"); }
.myspacesn-icon, .myspacesn-icon a		{ background-image: url("{IMG_ICON_CONTACT_MS_SRC}"); }
.netlogsn-icon, .netlogsn-icon a		{ background-image: url("{IMG_ICON_CONTACT_NETLOG_SRC}"); }
.twittersn-icon, .twittersn-icon a		{ background-image: url("{IMG_ICON_CONTACT_TWIT_SRC}"); }

.wow-info-frame .profile-icons li:hover,
.wow-info-frame .profile-icons li:hover a	{ 
	background-position: 0 100%;
}

/* Moderator icons */
.report-icon, .report-icon a	{ background-image: url("{T_IMAGESET_PATH}/images/icons/biohazard-button.gif"); }
.edit-icon, .edit-icon a		{ background-image: url("{T_IMAGESET_PATH}/images/icons/edit-button.gif"); }
.delete-icon, .delete-icon a	{ background-image: url("{T_IMAGESET_PATH}/images/icons/delete-icon.gif"); } 
.info-icon, .info-icon a		{ background-image: url("{T_IMAGESET_PATH}/images/icons/icon-help.gif"); }
.warn-icon, .warn-icon a		{ background-image: url("{T_IMAGESET_PATH}/images/icons/warn.gif"); } /* Need updated warn icon */


/* Custom buttons */
a.ui-button1, a.ui-button2 {
	float: left;
	display: inline-block;
	position: relative;
	background-color: #222;
	background-image: linear-gradient(to bottom, #373737 0%, #111111 100%);
	border: 1px solid #5D5D5D;
	border-radius: 3px;
	margin: 12px 3px 5px 3px;
	padding: 0 12px;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 30px;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.6), inset 0 0 3px 0 rgba(0,0,0,0.8);
	transition: all 0.2s;
}
a.ui-button1:hover, a.ui-button2:hover {
	background-color: #2061d2;
	background-image: linear-gradient(to bottom, #37dfff 0%, #1041e2 100%);
	border-color: #238eff;
	text-decoration: none;
	text-shadow: 0 0 4px rgba(255,255,255,0.5);
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.5), inset 0 1px 3px 0 rgba(255,255,255,0.8);	
}
a.ui-button2 {
	margin: 2px 2px 0 2px;
	padding: 0 8px;
	line-height: 24px;
}
ul.profile-icons li a.ui-button2 {
	width: auto;
}
a.ui-button1.post-icon:after, 
a.ui-button1.locked-icon:after, 
a.ui-button2.newpm-icon:after,
a.ui-button2.pmreply-icon:after,
a.ui-button2.forwardpm-icon:after,
.reply-icon a.ui-button2:after,
.quote-icon a.ui-button2 div {
	content: "";
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 26px;
	margin: 0 -5px 0 3px;
}
a.ui-button2.newpm-icon:after,
a.ui-button2.pmreply-icon:after,
a.ui-button2.forwardpm-icon:after,
.reply-icon a.ui-button2:after,
.quote-icon a.ui-button2 div {
	height: 23px;
	background-position: 0 2px;
	vertical-align: top;
}
a.ui-button1:hover:after {
	background-position: 0 -41px;
}
a.ui-button2:hover:after, .quote-icon a.ui-button2:hover div {
	background-position: 0 -39px;
}
a.ui-button1.post-icon:after, 
.reply-icon a.ui-button2:after {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_add.png");
}
a.ui-button1.locked-icon:after, 
.reply-icon.inactive a.ui-button2:after {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_lock.png");
}
a.ui-button2.newpm-icon:after {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_newpm.png");
}
a.ui-button2.pmreply-icon:after {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_reply.png");
}
a.ui-button2.forwardpm-icon:after {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_forward.png");
}
.quote-icon a.ui-button2 div {
	background-image: url("{T_IMAGESET_PATH}/images/icons/icon_quote.png");
	position: absolute;
	left: 6px;
}

.inactive a.ui-button2, a.ui-button2.inactive {
	background-color: #1A1A1A;
	background-image: linear-gradient(to bottom, #202020 0%, #111111 100%);
	border-color: #3f3f3f;
	box-shadow: 0 1px 7px 0 rgba(0,0,0,0.6), inset 0 0 3px 0 rgba(0,0,0,0.8);
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	color: #777;
}
.quote-icon a.ui-button2 {
	text-indent: -5000px;
	width: 22px !important;
}
a.ui-button2.poll-results, a.ui-button2.poll-vote {
	width: 110px;
	margin: 0 2px;
	padding: 0 6px;
	overflow: hidden;
	text-overflow: ellipsis;
}
a.ui-button2 input {
	width: 100%;
	background: none;
	text-transform: uppercase;
	border: none;
	font-family: inherit;
	vertical-align: inherit;
	color: #FFAE00;
}
a.ui-button2:hover input {
	color: #FFF;
}

a.ui-button3 {
	display: block;
	padding: 10px;
	background: #320000;
	background: linear-gradient(to bottom, rgba(30,1,1,1),rgba(70,5,5,1));
	border: 1px solid #811;
	color: #FFF;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
a.ui-button3:hover {
	background: #320000;
	background: linear-gradient(to bottom, rgba(60,10,10,1),rgba(110,10,10,1));
	border: 1px solid #C11;
	color: #FFF;
}