/* Content Styles
---------------------------------------- */

/* Collapse styling */

.wow-index h2, .index-extra h2, .index-right h2 {
	font-size: 20px;
	font-size: 2rem;
	line-height: 40px;
	line-height: 4rem;
	margin: 0 13px 0 5px;
	margin: 0 1.3rem 0 0.5rem;
	padding-left: 10px;
	padding-left: 1rem;
	letter-spacing: -0.05em;
	text-transform: uppercase;
	color: #888;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	transition: border-bottom 0.20s ease-in-out 0s;
}
.wow-index h2 a, .index-extra h2 a, .index-right h2 a {
	color: #888;
	display: block;
	white-space: nowrap;
}
.wow-index h2 a:hover, .index-extra h2 a:hover, .index-right h2 a:hover, h2.toggle:hover a
.wow-index h2 a:active, .index-extra h2 a:active, .index-right h2 a:active, h2.toggle:active a {
	color: #FFF;
	text-decoration: none;
}
h2.toggle {
	background: url("{T_IMAGESET_PATH}/images/icons/toggler.png") 0 11px no-repeat;
	padding-left: 0;
}
h2.toggle:hover {
	background-position: 0 -105px;
}
h2.toggle.close {
	background-position: 0 -47px;
	border-bottom: 1px solid #444;
}
h2.toggle.close:hover {
	background-position: 0 -163px;
	border-bottom: 1px solid #CCC;
}
h2.toggle > a {
	padding-left: 25px;
}
.inner-footer h2.toggle {
	background-position: 0 0;
	display: inline-block;
	margin: 0 0 0 5px;
	line-height: 20px;
	line-height: 2rem;
}
.inner-footer h2.toggle:hover {
	background-position: 0 -116px;
	border-bottom: none;
}
.inner-footer h2.toggle.close {
	background-position: 0 -58px;
	border-bottom: none;
}
.inner-footer h2.toggle.close:hover {
	background-position: 0 -174px;
	border-bottom: none;
}


/* Custom Index styling
---------------------------------------- */
.wow-index {
	padding: 0 11px 0 5px;
	padding: 0 1.1rem 0 0.5rem;
	margin-bottom: 10px;
	clear: left;
}
.wow-index .forabg {
	margin: 0 0 15px 0;
	margin: 0 0 1.5rem 0;
	padding: 0;
	/*overflow: hidden;*/
	background: none;
	box-shadow: none;
	border: none;
}
.wow-index ul.forums { 
	background: none; 
}
.wow-index li.wow-forum, .index-extra div.block, .index-right div.block {
	float: left;
	display: block;
	position: relative;
	background: #141414;
	background: rgba(20,20,20,0.8);
	width: 300px;
	border: 1px solid #444;
	margin: 2px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.6);
}
.wow-index li.wow-forum {
	min-height: 110px;
}
.wow-index li.wow-forum:last-child {
	margin-bottom: 15px;
	margin-bottom: 1.5rem;
}
.wow-index a.forum-link {
	display: block;
	padding: 10px 10px 0 0;
	padding: 1rem 1rem 0 0;
}
.wow-index .forum-image {
	background: none 50% 20% no-repeat;
	float: left;
	display: block;
	height: 54px;
	height: 5.4rem;
	width: 54px;
	width: 5.4rem;
    padding: 0;
	margin: 0;
	text-align: center;
}
.wow-index .forum-info {
	display: block;
	margin: 0 0 15px 54px;
	margin: 0 0 1.5rem 5.4rem;
}
.wow-index .forum-title, .wow-index .subforums-menu a {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 18px;
	line-height: 1.8rem;
	font-weight: bold;
}
.wow-index .forum-description {
	font-size: 11px;
	font-size: 1.1rem;
	line-height: 16px;
	line-height: 1.6rem;
	font-weight: normal;
	color: #877B69;
}
.wow-index .forum-link:hover .forum-description {
	color: #FFF;
}
.wow-index .forum-stats, .wow-recent dd.topic-stats, .online-pagelink {
	position: absolute;
	bottom: 3px;
	right: 3px;
	color: #4A4A4A;
}
.wow-index .new-icon {
	background: url("{T_IMAGESET_PATH}/images/icons/new-icon.gif") no-repeat 0 0;
	width: 19px;
	height: 15px;
	margin-left: 2px;
	display: inline-block;
	vertical-align: text-top;
}
.wow-index .extra-icons, .wow-recent .extra-icons {
	position: absolute;
	top: 3px;
	right: 3px;
}
.wow-index a.last-post-icon, .wow-recent a.last-post-icon {
	background: url("{T_IMAGESET_PATH}/icon_topic_latest.gif") no-repeat 50% 50%;
	width: 11px;
	height: 9px;
	padding: 2px 0;
	display: inline-block;
	vertical-align: text-bottom;
	text-indent: -5000px;
	text-transform: capitalize;
}
.wow-index .locked-icon {
	background: url("{T_IMAGESET_PATH}/images/icons/lock-icon.gif") no-repeat 50% 50%;
	width: 15px;
	height: 16px;
	display: inline-block;
	vertical-align: text-bottom;
	text-indent: -5000px;
	text-transform: capitalize;
}
.wow-index a:hover {
	text-decoration: none;
}
.wow-index .wow-forum {
	transition:	box-shadow 0.25s ease-out 0s;
}
.wow-index .wow-forum:hover,
.wow-index .wow-forum:active {
	border-color: #00C0FF;
}
.wow-index .subforums-button {
	background: url("{T_IMAGESET_PATH}/images/icons/child-arrow-big.gif") no-repeat scroll 50% 100% transparent;
    display: block;
	position: absolute;
	margin: 0;
    height: 24px;
    width: 34px;
	top: 48px;
	left: 9px;
}
.wow-index .subforums-button:hover {
	background-position: 50% 33%;
}
.wow-index .subforums-button.active {
	background-position: 50% 66%;
}
.wow-index .subforums-button.active:hover {
	background-position: 50% 0;
}
.wow-index .subforums-menu {
	display: none;
	position: absolute;
	margin: 2px 2px 2px 5px;
	background: #141414;
	background: rgba(15,15,15,0.98);
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.7);
	z-index: 70;
	top: 70px;
	padding: 15px 15px;
	color: #CCC;
}
.wow-index .subforums-menu a {
	display: list-item;
	list-style: none;
	padding: 0 0 0 25px;
	margin: 15px 0;
	background: url("{T_IMAGESET_PATH}/images/icons/square-grey.gif") 5px 50% no-repeat;
}
.wow-index .subforums-menu a.unread {
	background: url("{T_IMAGESET_PATH}/images/icons/new-icon.gif") 0 50% no-repeat;
}
.wow-index .subforums-menu a:last-child {
	margin-bottom: 5px;
}
.section-viewforum .wow-index {
	padding: 0 5px;
}
.section-viewforum .wow-index h2 {
	display: none;
}
.section-viewforum .wow-index .forabg {
	margin-bottom: 4px;
}
.section-viewforum .wow-index li.wow-forum:last-child {
	margin-bottom: 5px;
}

/* NV Recent Topics
---------------------------------------- */
.wow-recent {
	display: block; 
}
.wow-recent h2 {
	margin: 0;
}
.wow-recent ul {
	list-style: none;
	border-top: 1px solid #444;
}
.wow-recent li {
	position: relative; 
	margin: 0; 
	padding: 10px 0; 
	border-bottom: 1px solid #222;
	transition:	background 0.15s ease-in-out 0s;
}
.wow-recent li:hover {
	background: rgba(20,20,20,0.8);
}
.wow-recent a.topictitle {
	font-size: 12px;
	font-size: 1.2rem;
}
.wow-recent a.forum {
	font-size: 10px;
	font-size: 1.0rem;
	color: #B07000;	
}
.wow-recent a:hover {
	text-decoration: none;
	color: #FFF !important;
}

/* Other blocks on the index
---------------------------------------- */
.index-right div.block {
	width: auto;
	height: auto;
	float: none;
	padding: 0 10px;
	margin: 10px 0 0;
}
.index-right div.block p {
	padding: 10px 0;
	margin: 0;
	border-bottom: 1px solid #444;
}
.index-right div.block p:last-child {
	border-bottom: none;
}
.index-right dl.icon {
	background-position: 5px 50%;
}
.index-right dl.icon dt {
	padding: 0 0 5px 40px;
}

.index-extra {
	padding: 0 11px 0 5px;
	padding: 0 1.1rem 0 0.5rem;
	margin-bottom: 10px;
	clear: left;
}
.index-extra.solo {
	padding: 0;
}
.index-extra div.block {
	width: auto;
	height: auto;
	float: none;
	padding: 10px;
}
.index-extra p {
	margin: 0;
}
.index-extra ul.linklist li {
	margin-top: 5px;
}

/* Topic and forum lists
---------------------------------------- */
ul.topiclist {
	display: block;
	list-style-type: none;
	margin: 0;
}
ul.topiclist li {
	display: block;
	list-style-type: none;
	/*color: #D7CEA4;*/
	margin: 0;
	transition: background 0.15s ease-in-out 0s; 
	text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
}
ul.topiclist li.header {
	background: #111;
	background: rgba(0,0,0,0);
}
ul.topiclist li.bg1 {
	background: #252525;
	background: #252525 linear-gradient(to bottom, rgba(30,30,30,1) 0,rgba(37,37,37,0) 35px); 
	border: 1px solid;
	border-color: #000000 #000000 #252525 #252525;
}
ul.topiclist li.bg1 dt, ul.topiclist li.bg1 dd {
	border-left: 1px solid #252525;
	border-right: 1px solid #000;
}
ul.topiclist li.bg2 {
	background: #161616;
	background: #161616 linear-gradient(to bottom, rgba(11,11,11,1) 0,rgba(22,22,22,0) 35px); 
	border: 1px solid;
	border-color: #000000 #000000 #161616 #161616;
}
ul.topiclist li.bg2 dt, ul.topiclist li.bg2 dd {
	border-left: 1px solid #161616;
	border-right: 1px solid #000;
}
ul.topiclist li.bg1 dt, ul.topiclist li.bg2 dt {
	border-left: none;
}
ul.topics li.bg1:hover, ul.cplist li.bg1:hover, 
ul.topics li.bg1:active, ul.cplist li.bg1:active {
	background: #252525;
	background: #252525 linear-gradient(to top, rgba(30,30,30,1) 0,rgba(37,37,37,0) 35px); 
	color: #FFF;
}
ul.topics li.bg2:hover, ul.cplist li.bg2:hover, 
ul.topics li.bg2:active, ul.cplist li.bg2:active {
	background: #161616;
	background: #161616 linear-gradient(to top, rgba(11,11,11,1) 0,rgba(22,22,22,0) 35px); 
	color: #FFF;
}

ul.topiclist dl dd:last-child { border-right: none ;}

ul.topiclist dl {
	position: relative;
}

ul.topiclist li.row dl {
	padding: 2px 0;
}

ul.topiclist dt {
	display: block;
	float: left;
	width: 50%;
	font-size: 10px;
	font-size: 1.0rem;
	padding: 3px 5px 0;
	padding: 0.3rem 0.5rem 0;
}

ul.topiclist dd {
	display: block;
	float: left;
	border-left: 1px solid #161616;
	padding: 4px 0;
}

ul.topiclist dd.time {
	border-right: none !important;
}

ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

ul.topiclist li.row dt a.subforum {
	background-image: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
	padding: 0 0 0 12px;
}

.forum-image {
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

li.row {
	border-top: 1px solid #000;
	border-bottom: 1px solid #161616;
}

li.row strong {
	font-weight: normal;
	color: #FFF;
}

li.row:hover {
	background-color: #f6f6f6;
}

li.row:hover dd {
	border-left-color: #CCCCCC;
}

li.header dt, li.header dd {
	line-height: 1em;
	border-left-width: 0;
	margin: 2px 0 4px 0;
	color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 10px;
	font-size: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
}

li.header dt {
	font-weight: bold;
}

li.header dd {
	margin-left: 1px;
}

li.header dl.icon {
	min-height: 0;
}

li.header dl.icon dt {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 50px;
	text-indent: 5px;
}

/* Forum list column styles */
dl.icon {
	min-height: 35px;
	background-position: 7px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

dl.icon dt {
	padding-left: 45px;					/* Space for folder icon */
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
}

dd.posts, dd.topics, dd.views {
	width: 8%;
	text-align: center;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 26px;
	line-height: 2.6rem;
}

/* List in forum description */
dl.icon dt ol,
dl.icon dt ul {
	list-style-position: inside;
	margin-left: 10px;
	margin-left: 1rem;
}

dl.icon dt li {
	display: list-item;
	list-style-type: inherit;
}

dd.lastpost {
	width: 24%;
	font-size: 1.0em;
}

dd.redirect {
	font-size: 11px;
	font-size: 1.1rem;
	line-height: 25px;
	line-height: 2.5rem;
}

dd.moderation {
	font-size: 1.1em;
}

dd.lastpost span, ul.topiclist dd.searchby span, ul.topiclist dd.info span, ul.topiclist dd.time span, dd.redirect span, dd.moderation span {
	display: block;
	padding-left: 5px;
}

dd.time {
	width: auto;
	line-height: 200%;
	font-size: 1.1em;
}

dd.extra {
	width: 12%;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

dd.mark {
	float: right !important;
	width: 9%;
	text-align: center;
	line-height: 200%;
	font-size: 1.2em;
}

dd.info {
	width: 30%;
}

dd.option {
	width: 15%;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

dd.searchby {
	width: 47%;
	font-size: 1.1em;
	line-height: 1em;
}

ul.topiclist dd.searchextra {
	margin-left: 5px;
	padding: 0.2em 0;
	font-size: 1.1em;
	color: #CCC;
	border-left: none;
	clear: both;
	width: 98%;
	overflow: hidden;
}

/* Container for post/reply buttons and pagination */
.topic-actions {
	margin: 0 4px 3px;
	font-size: 1.1em;
	height: 28px;
	min-height: 28px;
}
div[class].topic-actions {
	height: auto;
}

/* Footer tools
---------------------------------------- */
.inner-footer {
	margin-top: 15px;
}
.inner-footer div.left {
	width: 50%;
	float: left;
	text-align: left;
}
.inner-footer div.right {
	width: 50%;
	float: right;
	text-align: right;
}
.inner-footer div.left > div, .inner-footer div.right > div {
	padding: 4px;
}
.inner-footer div.inner {
	padding: 10px;
	border: 1px solid #232323;
	background: #111;
	background: rgba(18,18,18,0.75);
	color: #BBB;
}
.inner-footer div.inner p, .inner-footer div.inner fieldset {
	margin: 7px 0;
	font-size: 10px;
	font-size: 1rem;
	width: auto !important;
	float: none !important;
}
.inner-footer div.inner > *:first-child, .inner-footer div.inner > *:first-child fieldset {
	margin-top: 0 !important;
}
.inner-footer div.inner > *:last-child, .inner-footer div.inner > *:last-child fieldset {
	margin-bottom: 0 !important;
}
.inner-footer .left fieldset {
	text-align: left !important;
}
.inner-footer .right fieldset {
	text-align: right !important;
}
.inner-footer label {
	color: #BBB;
}
.inner-footer fieldset.display-options label {
	margin: 4px 0 4px 4px;
	padding: 0;
	display: inline-block;
}
.inner-footer fieldset.jumpbox, .inner-footer fieldset.quickmod, .inner-footer div.inner > h3:first-child  {
	padding-top: 3px;
}

/* Post body styles
----------------------------------------*/
.inner {
	position: relative;
}

.postbody {
	padding: 0;
	color: #CCC;
	width: auto;
	text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
	line-height: 18px;
	line-height: 1.8rem;
}

.post .postbody {
	margin: 0 0 0 211px;
	padding-bottom: 10px;
}

.postbody .ignore {
	padding: 5px 10px;
	padding: 0.5rem 1rem;
	font-size: 11px;
	font-size: 1.1rem;
}

.postbody h3.first {
	/* The first post on the page uses this */
	font-size: 13px;
	font-size: 1.3rem;
}

.postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	padding: 2px 0 0 0;
	padding: 0.2rem 0 0 0;
	margin: 0 0 3px 10px !important;
	margin: 0 0 0.3rem 1rem !important;
	text-transform: none;
	border: none;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
	font-size: 12px;
	font-size: 1.2rem;
}

.postbody h3 img {
	/* Also see tweaks.css */
	vertical-align: bottom;
}

.postbody p.author {
	margin: 0 150px 3px 10px;
	margin: 0 15rem 0.3rem 1rem;
}

.postbody .content {
	background: url("{T_IMAGESET_PATH}/images/postbody-top-left.png") no-repeat;
	text-align: justify;
	border-top: solid 1px #000;
	padding: 10px;
	padding: 1rem;
	font-size: 13px;
	font-size: 1.3rem;
	line-height: 18px;
	line-height: 1.8rem;
	opacity: 1 !important;
}

.postbody ul.profile-icons {
	opacity:0;
	transition:	all 0.25s ease-in-out 0s;
}

.post:hover ul.profile-icons, 
.post:active ul.profile-icons { 
	opacity:1; 
}

.post:target .content { 
	color: #DDD; 
}

.post:target h3 a { 
	color: #FFF; 
}

/* Topic review panel
----------------------------------------*/
#review {
	margin-top: 2em;
}

#topicreview {
	/*padding-right: 5px;*/
	overflow: auto;
	height: 300px;
	border: 1px solid #7C7C7C;
	margin: 5px 0;
}

#topicreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}

#topicreview .post {
	height: auto;
}

#topicreview .post:first-of-type {
	margin-top: 0;
}

#topicreview .bg1 { background: #2c2c2c; background: rgba(49,49,49,0.9); }
#topicreview .bg2 { background: #181818; background: rgba(27,27,27,0.9); }

#topicreview h2 {
	border-bottom-width: 0;
}

.post-ignore .postbody {
	display: none;
}

/* MCP Post details
----------------------------------------*/
#post_details
{
	/* This will only work in IE7+, plus the others */
	overflow: auto;
	max-height: 300px;
}

#expand
{
	clear: both;
}

/* Content container styles
----------------------------------------*/
.content {
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #CCC;
	padding-bottom: 1px;
}

.bg1 .content {
	color: #D4D4D4;
}

.content h2, .panel h2 {
	font-weight: normal;
	color: #00C0FF;
	border-bottom: 1px solid #888;
	font-size: 1.6em;
	margin: 0.5em 0;
	padding-bottom: 0.5em;
}

.panel h3 {
	margin: 0.6em 0 0.5em;
}

.panel p {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

.content p {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

dl.faq {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	font-size: 1.1rem;
	margin-top: 10px;
	margin-top: 1rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	line-height: 16px;
	line-height: 1.6rem;
}

dl.faq dt {
	font-weight: bold;
	color: #FFF;
}

.content dl.faq {
	font-size: 12px;
	font-size: 1.2em;
	margin-bottom: 6px;
	margin-bottom: 0.6rem;
	line-height: 17px;
	line-height: 1.7rem;
}

.content li {
	list-style-type: inherit;
}

.content ul, .content ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

.content img {
	max-width: 100%;
}

.posthilit {
	background-color: #f3f3f3;
	color: #000;
	padding: 0 2px 1px 2px;
	text-shadow: none;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
	border-left-color: #BCBCBC;
	border-right-color: #BCBCBC;
}

/* Post author */
p.author {
	margin: 0 150px 6px 0;
	margin: 0 15rem 0.6rem 0;
	padding: 0 0 5px 0;
	padding: 0 0 0.5rem 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-size: 1rem;
	line-height: 13px;
	line-height: 1.3rem;
}

/* Post signature */
.signature {
	margin: 15px 10px 0 10px;
	margin: 1.5rem 1rem 0 1rem;
	padding-top: 4px;
	padding-top: 0.4rem;
	font-size: 1.1em;
	border-top: 1px solid #7C7C7C;
	line-height: 140%;
	overflow: hidden;
}

dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

.signature li {
	list-style-type: inherit;
}

.signature ul, .signature ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

/* Post noticies */
.notice {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: auto;
	margin: 15px 10px 0 10px;
	margin: 1.5rem 1rem 0 1rem;
	padding-top: 4px;
	padding-top: 0.4rem;
	font-size: 1em;
	border-top: 1px dashed #CCCCCC;
	clear: left;
	line-height: 130%;
}

/* Jump to post link for now */
ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}
a.jumptopost {
	position: absolute;
	bottom: 5px;
	right: 5px;
	padding-right: 17px;
	background-position: 97% 3px;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background: url("{T_IMAGESET_PATH}/images/icons/quote.gif") 6px 8px no-repeat, linear-gradient(to bottom, rgba(0,0,0,0.25) 0,rgba(0,0,0,0) 30%);
	border: 1px solid #777;
	font-size: 0.95em;
	margin: 0.5em 1px 0 25px;
	overflow: hidden;
	padding: 6px 10px 10px 10px;
	padding: 0.6rem 1rem 1rem 1rem;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.4);
	color: #CCC;
}

.bg1 blockquote {
	color: #D4D4D4;
}

.rtl blockquote {
	background-image: url("{T_IMAGESET_PATH}/images/icons/quote_rtl.gif");
}

blockquote blockquote {
	/* Nested quotes */
	font-size: 1em;
	margin: 0.5em 1px 0 15px;	
}

blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin: 0 0 5px 20px;
	display: block;
	font-size: 0.9em;
}

blockquote cite cite {
	font-size: 1em;
}

blockquote.uncited {
	padding-top: 25px;
}

/* Code block */
dl.codebox {
	padding: 3px;
	padding: 0.3rem;
	background-color: #111;
	border: 1px solid #575757;
	font-size: 1em;
	text-shadow: none;
}

dl.codebox dt {
	text-transform: uppercase;
	border-bottom: 1px solid #575757;
	margin-bottom: 3px;
	font-size: 0.8em;
	font-weight: bold;
	display: block;
}

blockquote dl.codebox {
	margin-left: 0;
}

dl.codebox code {
	/* Also see tweaks.css */
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	padding-top: 5px;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, mono;
	line-height: 1.3em;
	color: #3E9B67;
	margin: 2px 0;
	text-align: left;
}

.syntaxbg		{ color: #353535; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #0000BB; }
.syntaxhtml		{ color: #808081; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	width: auto; 
	margin: 5px 10px 5px 10px;
	padding: 6px;
	border: 1px dashed #d8d8d8;
	clear: right;
}

.pm-message .attachbox {
	background-color: #333;
}

.attachbox dt {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

.attachbox dd {
	margin-top: 4px;
	padding-top: 4px;
	/*clear: left;*/
	border-top: 1px solid #575757;
}

.attachbox dd dd {
	border: none;
}

.attachbox p {
	line-height: 110%;
	color: #999;
	font-weight: normal;
	clear: left;
}

.attachbox p.stats
{
	line-height: 110%;
	color: #999;
	font-weight: normal;
	clear: left;
}

.attach-image {
	margin: 3px 0;
	width: 100%;
	max-height: 350px;
	overflow: auto;
}

.attach-image img {
	border: 1px solid #444;
/*	cursor: move; */
	cursor: default;
}

/* Inline image thumbnails */
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

div.inline-attachment p {
	font-size: 100%;
}

dl.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

dl.file dd {
	color: #999;
	margin: 0;
	padding: 0;	
}

dl.thumbnail img {
	padding: 3px;
	border: 1px solid #666666;
	background-color: #111;
}

dl.thumbnail dd {
	color: #666666;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.attachbox dl.thumbnail dd {
	font-size: 100%;
}

dl.thumbnail dt a:hover {
	background-color: #222;
}

dl.thumbnail dt a:hover img {
	border: 1px solid #00C0FF;
}

/* Post poll styles
----------------------------------------*/

.wow-poll-frame1 { background: url("{T_IMAGESET_PATH}/images/poll-bg.jpg") 0 0 repeat-x; }
.wow-poll-frame2 { background: url("{T_IMAGESET_PATH}/images/poll-right.gif") 100% 0 no-repeat; }
.wow-poll-frame3 { background: url("{T_IMAGESET_PATH}/images/poll-left.gif") 0 0 no-repeat; padding: 0 20px; }

.wow-poll-box1 { 
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.9), inset 0px 0px 6px 6px rgba(0,0,0,1);
	background: #0A0A0A; 
	background: rgba(0,0,0,0.5);
	border-radius: 6px; 
	border: 1px solid #000;
	margin:10px 10px 35px 10px;
 }
.wow-poll-box2 { 
	border-radius: 6px; 
	border: 1px solid #363636;
	padding: 1px 2px;
}
.wow-poll-box3 { 
	border: 1px solid #1a1a1a;
	padding: 15px 15px 0; 
}

.wow-poll-author1 { 
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.9), inset 0px 0px 6px 6px rgba(0,0,0,1); 
	background: #0A0A0A;
	background: rgba(0,0,0,0.6);
	border-radius: 0 0 6px 6px; 
	border: 1px solid #000;
	border-top: none;
	margin:0 10px 15px 10px;
	float: left;
 }
.wow-poll-author2 { 
	border-radius: 0 0 6px 6px; 
	border: 1px solid #363636;
	border-top: none;
	padding: 1px 2px;
}
.wow-poll-author3 { 
	border: 1px solid #1a1a1a;
	border-top: none;
	padding: 5px 25px; 
}
.poll p.author {
	margin: 0;
	padding: 0;
	color: #999;
	text-transform: uppercase;
}
.poll p.author span {
	color: #FFF;
}
.poll .content h2 {
	color: #00C0FF;
	font: italic 18px Georgia,"Times New Roman",Times,serif;
	border-bottom: none;
	clear: left;
}
.poll .content h2 span {
	color: #FFFFFF;
    font-size: 18px;
    padding: 10px 5px 10px 25px;
	font: normal bold 18px Arial,Helvetica,sans-serif;
}

.wow-poll-totals {
	margin: 0 auto;
	text-align: center;
	margin: 15px 0 -15px 0;
	font-weight: bold;
}

.wow-poll-footer { 
	background: url("{T_IMAGESET_PATH}/images/poll-bot.gif") no-repeat;
	margin: 0 auto;
	height: 74px;
	width: 506px;
	position: relative;
	top: 38px;
}

.wow-poll-footer a {
    float: left;
    left: 128px;
    position: relative;
    top: 13px;
	padding: 0;
}

fieldset.polls {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

fieldset.polls dl {
	margin-top: 3px;
	/*border-top: 1px solid #e2e2e2;
	padding: 5px 0 0 0;
	line-height: 120%;*/
	color: #CCC;
	line-height: 16px;
}

fieldset.polls dl.voted {
	font-weight: bold;
	color: #FFF;
}

fieldset.polls dt {
	text-align: right;
	float: left;
	display: block;
	width: 50%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
}

fieldset.polls dt * {
	padding: 0;
	margin-right: 10px;
}

fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	/*padding: 0 5px;*/
	margin-left: 0;
	font-size: 11px;
	font-size: 1.1rem;
	text-shadow: 0 0 2px #000;
}

fieldset.polls dd span {
	/*margin-left: 10px;*/
	display: inline-block;
	width: 18%;
	text-align: right;
	font-size: 12px;
	font-size: 1.2rem;
}

fieldset.polls dd.resultbar {
	width: 50%;
	margin: 0;
}

fieldset.polls .resultbar-restrict {
	width: 80%;
	text-align: left;
}

fieldset.polls dd.resultbar div {
	display: inline-block;
}

fieldset.polls dd input {
	margin: 2px 0;
}

fieldset.polls dd div {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	overflow: visible;
	min-width: 2%;
}

.pollbar {
	background: url("{T_IMAGESET_PATH}/images/poll_bars1.gif") no-repeat ;
	background-position: 0 -19px;
	height: 16px;
}
.pollbar div {
	background: url("{T_IMAGESET_PATH}/images/poll_bars1.gif") no-repeat ;
	background-position: 100% -19px;
	margin-left: 3px;
	padding-right: 3px;
}
.pollbar.winner {
	background-position: 0 -1px;
}
.pollbar.winner div {
	background-position: 100% -1px;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	/* Also see tweaks.css */
	margin: 0;
	padding: 5px;
	min-height: 165px;
	color: #CCC;
	border-right: 1px solid #000;
	width: 200px;
	float: left;
	display: inline;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
}
.bg1 .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg1.gif") no-repeat;
}
.bg2 .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg2.gif") no-repeat;
}
.bg1.blizz .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg1-blizz.gif") no-repeat;
}
.bg2.blizz .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg2-blizz.gif") no-repeat;
}
.bg1.propass .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg1-pro.gif") no-repeat;
}
.bg2.propass .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg2-pro.gif") no-repeat;
}
.bg1.red .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg1-red.jpg") no-repeat;
}
.bg2.red .postprofile {
	background: url("{T_IMAGESET_PATH}/images/avatar-bg2-red.jpg") no-repeat;
}

/*.pm .postprofile {
	border-right: 1px solid #DDDDDD;
}*/

.postprofile dd, .postprofile dt {
	line-height: 1.2em;
	/*margin-left: 8px;*/
}

.postprofile dd {
	margin: 5px 0;
	font-size: 9px; 
	font-size: 0.9rem;
}

.postprofile dd:last-child {
	margin-bottom: 0;
}

.postprofile dd.separator {
	margin: 5px 0;
	height: 1px;
}

.postprofile dd a {
	font-size: 1.1em;
}

.postprofile strong {
	font-weight: normal;
	color: #DDD;
}

.postprofile dd.stats span {
	display: inline-block; padding: 0 5px;
}

.postprofile dd.online, .postprofile dt.online {
	background: none;
	color: #5cff00;
	margin-top: 5px;
	font-weight: bold;
	font-size: 1em;
}

.avatar {
	border: none;
	margin-bottom: 3px;
}

.wow-profile {
	width: 100%;
	height: 92px;
	position: relative;
	text-align: center;
}
.game-avatar {
	height: 64px;
	width: 64px;
	position: absolute;
	top: 10px;
	left: 68px;
	background-size: 64px 64px !important;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.game-avatar .context-avatar img, game-noavatar .context-avatar img {
	height: 83px;
	width: 82px;
}
.game-avatar-frame {
	background: url("{T_IMAGESET_PATH}/images/portrait-frame.gif") no-repeat;
	height: 83px;
	width: 82px;
	position: absolute;
	top: -8px;
	left: -8px;
}
.propass .game-avatar-frame {
	background: url("{T_IMAGESET_PATH}/images/portrait-frame-pro.gif") no-repeat;
}
.game-noavatar {
	background: url("{T_IMAGESET_PATH}/images/avatar-none.gif") no-repeat;
	height: 83px;
	width: 82px;
	position: absolute;
	top: 2px;
	left: 60px;
}
.game-rank-icon {
	height: 23px;
	width: 30px;
	position: absolute;
	top: 54px;
	left: 52px;
	text-align: center;
	line-height: 23px;
}
.game-rank-icon > * {
	vertical-align:middle;
}
.game-rank-icon .norank {
	background: url("{T_IMAGESET_PATH}/images/icons/question.gif") no-repeat 50% 60%;
	height: 100%;
	width: 100%;
}
.game-icons-frame {
	background: url("{T_IMAGESET_PATH}/images/portrait-icons.png") no-repeat;
	height: 83px;
	width: 35px;
	position: absolute;
	top: -1px;
	left: -35px;
}
.propass .game-icons-frame {
	background: url("{T_IMAGESET_PATH}/images/portrait-icons-pro.gif") no-repeat;
}
.game-icons-frame img {
	height: 18px;
	width: 18px;
}

.game-icons-a, .game-icons-b, .game-icons-c {
	height: 18px;
	width: 18px;
	position: absolute;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color: #000;
	border-radius: 3px;
}
.game-icons-a {
	top: 11px;
	left: 11px;
}
.game-icons-b {
	top: 31px;
	left: 11px;
}
.game-icons-c {
	top: 51px;
	left: 11px;
}
.wow-info-frame {
	background: url("{T_IMAGESET_PATH}/images/avatar-tile.png") repeat-y;
	width: 155px;
	padding: 0 8px 0 8px;
	position: relative;
	left: 14px;
	text-align: center;
	z-index: auto; /* IE fix */
}
.wow-info-bottom {
	background: url("{T_IMAGESET_PATH}/images/avatar-bot.png") no-repeat;
	width: 155px;
	height: 14px;
	padding: 0 8px 0 8px;
	position: relative;
	left: 14px;
	text-align: center;
}
.blizz .wow-info-frame, .red .wow-info-frame, .blizz .wow-info-bottom, .red .wow-info-bottom { background: none; }

.online {
	background-image: url("{IMG_ICON_USER_ONLINE_SRC}");
	background-position: 100% 0;
	background-repeat: no-repeat;
}
.wow-context {
	background: #1A1A1A;
	background: rgba(20, 20, 20, 0.98);
	border: 1px solid #575757;
	border-radius: 4px;
	box-shadow: 1px 1px 15px #000;
	display: none;
	left: 1px;
	opacity: 0.98;
	overflow: hidden;
	position: absolute;
	top: 15px;
	/*width: 225px;*/
	z-index: 70;
	padding: 10px;
}
.wow-info-frame dl {
	overflow: hidden; /* IE fix */
}
.wow-context div.user-icons {
	margin-top: 10px;
	display: flex;
}
.wow-context div.user-icons a {
	background: #292A2A url("{T_IMAGESET_PATH}/images/icons/context.gif") no-repeat;
	display: block;
	float: left;
	height: 30px;
	line-height: 30px;
	margin-right: 1px;
	padding-left: 30px;
	font-size: 1.1em;
}
.wow-context div.user-icons a:hover {
	background-color: #525252;
}
.wow-context div.user-icons > *:first-child {
	border-radius: 3px 0 0 3px;
	padding-right: 10px;
}
.wow-context div.user-icons > *:last-child {
	border-radius: 0 3px 3px 0;
}
.wow-context strong {
	font-size: 1.3em;
	color: #FFF;
	font-weight: bold;
}
.wow-context a.icon-profile {
}
.wow-context a.icon-posts {
	background-position: 0 -30px !important;
}
.wow-context a.icon-foe {
	background-position: 0 -60px !important;
}
.wow-context ul.profile-icons {
	display: inline-block;
}
.wow-context ul.profile-icons li:last-child {
	margin-right: 0;
}

/* Topic Preview MOD
----------------------------------------*/
#topic_preview {
	background: #101010;
	background: rgba(15, 15, 15, 0.97);
	border: 1px solid #575757;
	border-radius: 4px;
	box-shadow: 1px 1px 15px #000;
	padding: 10px;
	margin-left: -40px;
	min-width: 40px;
	position: absolute;
	font-size: 11px;
	text-decoration: none;
	font-style: normal;
	z-index: 10;
	display: none;
}

#topic_preview:before {
	/* Upper Triangle */
	content: "";
	background: #101010;
	background: rgba(15, 15, 15, 0.97);
	border: 0;
	border-top: 1px solid #575757;
	border-right: 1px solid #575757;
	width: 10px;
	height: 10px;
	margin-left: 15px;
	margin-top: -16px;
	display: block;
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#topic_preview.invert:after {
	/* Lower Triangle */
	content: "";
	background: #101010;
	background: rgba(15, 15, 15, 0.97);
	border: 0;
	border-bottom: 1px solid #575757;
	border-left: 1px solid #575757;
	width: 10px;
	height: 10px;
	top: 100%;
	margin-left: 15px;
	margin-top: -5px;
	display: block;
	position: absolute;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#topic_preview.invert:before {
	/* Hide upper triangle */
	content: "";
	display: none;
}

#topic_preview hr {
	margin: 5px 0;
}

/* Avatars and Text */
.topic_preview_avatar {
	float: left;
	position: relative;
	margin: 0 10px 0 0;
	border: solid 1px #575757;
	width: 64px;
	height: 64px;
}

.topic_preview_avatar.rtl {
	/* rtl languages */
	float: right;
	margin: 0 0 0 10px;
}

.topic_preview_text_first,
.topic_preview_text_last {
	word-wrap: break-word;
	overflow: hidden;
}

.topic_preview_break {
	clear: both;
	display: block;
	width: 100%;
	height: 0;
	padding: 5px 0;
	margin: 0;
	font-size: 0;
}


/* mChat MOD
------------ */

div.chatbox1 {
	border: 1px solid #000;
	padding: 2px;
	background-color: #313131;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.7);
}

div.chatbox2 {
	border: 1px solid #000;
}

#mChatmain {
	border: 1px solid #575757;
	background: #202020 linear-gradient(to bottom, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 20%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.4) 100%);
	padding: 2px;
}

div.mChatBG1, div.mChatBG2 {
	padding: 3px;
}

div.mChatBG1 {
	background: #252525;
	background: #252525 linear-gradient(to bottom, rgba(30,30,30,1) 0,rgba(37,37,37,0) 35px); 
	border: 1px solid;
	border-color: #252525 #000 #000 #000;
	overflow: hidden;
}

div.mChatBG1:hover {
	background: #252525;
	background: #252525 linear-gradient(to top, rgba(30,30,30,1) 0,rgba(37,37,37,0) 35px); 
	color: #FFF;
}

div.mChatBG2 {
	background: #161616;
	background: #161616 linear-gradient(to bottom, rgba(11,11,11,1) 0,rgba(22,22,22,0) 35px); 
	border: 1px solid;
	border-color: #161616 #000 #000 #000;
	overflow: hidden;
}

div.mChatBG2:hover {
	background: #161616;
	background: #161616 linear-gradient(to top, rgba(11,11,11,1) 0,rgba(22,22,22,0) 35px); 
	color: #FFF;
}

div.mChatBG1 span, div.mChatBG2 span {
	color: #877B69;
}

div.mChatRowLimit {
	overflow: auto;
	width: 100%;
	width: auto;
}

div.mChatRowLimitCustom {
	overflow: auto;
	width: 100%;
	width: auto;
}

div.mChatPanel {
	text-align: center;
	padding: 3px;
	clear: left;
}

input.mChatText {
	cursor: text;
	width: 70%;
	/*background-color: #FFFFFF;
	border: 1px solid #B4BAC0;
	color: #333333;*/
	padding: 5px 5px 3px 5px;
	margin: 3px 0px 6px 5px;
}

input.mChatText:hover {
	border-color: #11A3EA;
}

div.mChatBodyFix {
	width: 100% !important;
}

div.mChatStatic {
	padding-left: 5px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 1.1em;
}

div.mChatStats {
	padding-left: 5px;
	margin-top: 2px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	min-height: 1.3em;
	font-size: 1.1em;
	height: auto !important;
}

div.mChatRefresh {
	padding-left: 5px;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 1.1em;
	margin-top: 1.5em;
	clear: both;
}

input.mChatColor {
	width: 100%;
	text-align: center;
	background-color: #DEE3E7;
	border-style: none;	
}

div.mChatMessage {
	padding: 3px;
	font-size: 1.1em;
	width: 98%;
}

a.mChatScriptLink {
	text-decoration:none;
}

img.mChatImage{
	vertical-align: middle;
}

img.mChatImageLoad {
	vertical-align: middle;
	cursor: wait;
	display: none;
}

img.mChatImageOk {
	vertical-align: middle;
	cursor: help;
}

img.mChatImageHideImg {
	vertical-align: middle; 
	cursor: help; 
	display: none;
}

div.mChatSound {
	position: absolute;
	left: -1000px;
	top: -1000px;
}

.mchat_alert {
	color: #7E2217;
	padding: 10px;
}

#mChatUserList {
	display: none;
	float: left;
	padding: 5px 0;
}

.mChatAvatars {
	float: left;
	padding-right: 5px;
}

div.avatarMessage {
	margin-left: 50px;
	width: 90%;
	margin-right: 5px;
}


/* Poster profile used by search*/
.search .postprofile {
	/*width: 30%;*/
}

/* pm list in compose message if mass pm is enabled */
dl.pmlist dt {
	width: 60% !important;
}

dl.pmlist dt textarea {
	width: 95%;
}

dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px;
}

/* fixes & extras */
.post .innerbg2 div.inner, .post.pm div.inner {
	background: url("{T_IMAGESET_PATH}/images/pixel-black.gif") repeat-y 210px 0;
}
#preview.post.pm div.inner {
	background: none;
}
.pm .postbody h3 {
	color: #FFB019;
}
#preview .postbody {
	margin-left: 0;
}
#preview.post {
	margin-left: 0;
	border: 1px solid #444;
}
.mcp-main dd.mark {
	width: 40px;
	border-left: none !important;
}
.mcp-main .postbody ul.profile-icons {
	opacity: 1;
	margin: 0;
	padding: 0;
}
.mcp-main .postbody ul.profile-icons li {
	margin-top: 0 !important;
}
.ucp-main dd.lastpost {
	border-right: none !important;
}
.ucp-main dd.mark {
	border-left: none !important;;
}
dd.moderation span {
	padding-right: 5px;
}
.blizz .content span.bold {
	color: #FFF;
}
.blizz .wow-info-frame .joined {
	display: none;
}
.blizz .game-icons-frame, .red .game-icons-frame { 
	/*display: none; */
}
#topicreview .postbody {
	padding-bottom: 0;
}
#topicreview .postbody .content {
	min-height: inherit;
}
#topicreview .postbody .profile-icons {
	opacity: 1;
}
#register .attachbox, #login .attachbox {
	float: left;
	width: auto; 
	margin: 5px 5px 5px 0;
	padding: 6px;
	clear: left;
}
#login .fields1 .button1, .quick-login .button2 {
	padding: 5px 14px;
}
#searchresults-tools.toggle, #viewtopic-tools.toggle {
	margin-top: 0;
}
#viewprofile .postprofile {
	background-color: #313131;
	border: 1px solid #000;
	margin-left: -5px;
}
.postprofile .guild {
	font-weight: bold;
	font-size: 10px;
	font-size: 1rem;
}
.advertisement, div.advertisement.index {
	margin: 10px auto;
	padding: 0;
}
.section-index .forumbg span.corners-inner-bottom {
	clear: left !important;
}
.section-dkp .forabg, .section-viewtopic .forabg {
	margin: 0 0 4px 0;
}

/* =Media queries
-------------------------------------------------------------- */

@media screen and (max-width: 700px) {
	.postbody h3 {
		display: inline-block;
	}
}

@media screen and (max-width: 999px) {
	.wow-index li.wow-forum {
		width: 99%;
		min-height: inherit;
	}
	.wow-index .subforums-button {
		top: 40px;
	}
	.index-extra {
		padding-right: 8px;
		padding-right: 0.8rem;
	}
}

@media screen and (min-width: 1000px) {
	.wow-index li.wow-forum {
		min-height: 110px;
		width: 300px;
	}
	.wow-index .subforums-button {
		top: 48px;
	}
}