<div class="panel bg2">
<div class="inner">
<span class="corners-top"><span></span></span>
  
	<ul class="dkpmenu">
	<li>
	<h5>
    &nbsp; &nbsp;<a href="{U_NEWS}">{L_MENU_NEWS}</a>
    &nbsp; &nbsp;<a href="{U_ROSTER}">{L_MENU_ROSTER}</a>
	&nbsp; &nbsp;<a href="{U_LISTMEMBERS}">{L_MENU_STANDINGS}</a>
	&nbsp; &nbsp;<a href="{U_STATS}">{L_MENU_STATS}</a>
	&nbsp; &nbsp;<a href="{U_LISTEVENTS}">{L_MENU_EVENTS}</a>
	&nbsp; &nbsp;<a href="{U_LISTRAIDS}">{L_MENU_RAIDS}</a>
	&nbsp; &nbsp;<a href="{U_LISTITEMS}">{L_MENU_ITEMVAL}</a>
	&nbsp; &nbsp;<a href="{U_LISTITEMHIST}">{L_MENU_ITEMHIST}</a>
  <!-- IF U_ACP -->&nbsp; &nbsp; <a href="{U_DKP_ACP}">{L_MENU_ADMIN_PANEL}</a> <!-- ENDIF -->
  </h5>
  </li>
  </ul>	
<span class="corners-bottom"><span></span></span>
</div>
</div>