<!-- INCLUDE overall_header.html -->
<div>
<!--<div style="float: left; width: 0%;  margin:0.5%">

<!-- IF S_DISPLAY_MAINMENU -->
<!-- INCLUDE dkp/block/mainmenu.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_RT -->
<!-- INCLUDE dkp/block/recent.html -->
<!-- ENDIF -->

<!-- IF S_DISPLAY_NEWMEMBERS -->
<!-- INCLUDE dkp/block/newmembers.html -->
<!-- ENDIF -->

<!--</div>-->

<div  style="float: left; width: 74%; margin:0.5%">
<!-- IF S_DISPLAY_WELCOME -->
<!-- INCLUDE dkp/block/welcomeblock.html -->
<!-- ENDIF -->

<!-- INCLUDE dkp/block/news.html -->

</div>

<div style="float: right; width: 23%; margin:0.5%">

	<!-- IF S_DISPLAY_LOOT -->
	<!-- INCLUDE dkp/block/lastloot.html -->
	<br/>
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_RECRUIT -->
	<!-- INCLUDE recruit/recruit.html -->
	<br/>

	<!-- ENDIF -->

	<!-- IF S_DISPLAY_RECRUIT_BBDKP -->
	<!-- INCLUDE dkp/block/recruitment.html -->
	<br/>
	<!-- ENDIF -->

	<!-- INCLUDE dkp/block/wowprogressblock.html -->
	<br/>
	
	<!-- IF S_DISPLAY_LINKS -->
	<!-- INCLUDE dkp/block/links.html -->		
	<br/>
	<!-- ENDIF -->
	
</div>
<div style="clear:both;"></div>
</div>

<!-- INCLUDE overall_footer.html -->