/* Supernova Colour-specific Stylesheet (Green) */

#dummy-element {width: 2px;} /* Required. Don't delete */

body {color: #226313;}

#sn-header {background-color: #42b528;}

#sn-nli-content, .sn-nli-form, fieldset.quick-login input.inputbox, input.inputbox:hover, input.inputbox:focus, #message-box textarea:hover, #message-box textarea:focus, a.button1, input.button1, input.button3, a.button2, input.button2, a.button1, a.button1:link, a.button1:visited, a.button1:active, a.button2, a.button2:link, a.button2:visited, a.button2:active, a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover, input.search, input.search:hover, input.search:focus, #sn-navbar a, .sn-breadcrumbs a, .sn-options a {color: #259c0a;}
input.inputbox:hover, input.inputbox:focus, #message-box textarea:hover, #message-box textarea:focus, textarea.inputbox:hover {border-color: #259c0a;}

.sn-nli-form, fieldset.quick-login input.inputbox, a.button1, input.button1, a.button2, input.button2, input.button3, a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover, input.search, input.search:hover, input.search:focus {border-color: #b6efa9;}

#sn-nli-content a, select {color: #1b8703;}

.mini-profile span a {color: #FFFFFF;}
a.sn-mini-profile-logout {color: #4cd02e !important;}

#sn-navbar a:hover, .sn-breadcrumbs a:hover, .sn-options a:hover  {color: #30bc10;}

div.cat-name span, div.cat-name span a, .sn-big-stat, a.forumtitle, a.forumtitle:active, a:link, a:visited, a:active, a.left, a.left:active, a.left:visited a.right, a.right:visited, a.right:visited, h2, h3, label, .content h2, .panel h2, .postbody h3, #tabs a span, #navigation a, #navigation #active-subsection a {color: #30831D;}

a.forumtitle:hover, a:hover, a.left:hover, a.right:hover, a.topictitle:hover {color: #3ba423;}

.row .pagination span a:hover, li.pagination span a:hover, .pagination span a:hover, .pagination span strong {background-color: #31871E; border-color: #31871E;}



select {background-color: #f5f8f4; border-color: #c2d7bd;}

.navbar {background-color: #d7f8d0;}

.bg1 {background-color: #f0fbf0;}
.bg2, .bg3 {background-color: #ebfff0;}

blockquote, blockquote blockquote blockquote {border-color: #90db7c; background-color: #f7fdf6;}
blockquote blockquote {background-color: #ebfae7;}

.forabg, .forumbg {background-color: #30821d;}
table.table1 tbody tr:hover, table.table1 tbody tr.hover {background-color: #c6e4cd;}

#tabs a:hover span {color: #44b929;}

#navigation a {background-color: #bad1b3;}
#navigation a:hover {color: #44b929;}
#navigation #active-subsection a:hover {color: #44b929;}



/* Below are only image overrides. Only thing to edit below here is the /green/ file name to some other colour */

.reply-icon span {background-image: url("../images/green/post-reply.png");}
.post-icon span	{background-image: url("../images/green/new-topic.png");}
.locked-icon span {background-image: url("../images/green/locked.png");}
.pmreply-icon span {background-image: url("../images/green/send-reply.png");}
.newpm-icon span {background-image: url("../images/green/new-pm.png");}
.forwardpm-icon span {background-image: url("../images/green/forward.png");}

#sn-header {background: url("../images/green/headerbg.png");}
a#sn-logo {background-image: url("../images/green/logo.png");}
#sn-not-logged-in {background-image: url("../images/green/login-notice.png");}
#sn-not-logged-in-hover {background-image: url("../images/green/login-notice-hover.png");}

.fakecheck {background-image: url("../images/green/checkbox.png");}
#sn-nli-button {background-image: url("../images/green/login-button.png");}
div.mini-profile {background-image: url("../images/green/mini-profile-r.png");}
div.mini-profile .mini-profile-inner {background-image: url("../images/green/mini-profile-l.png") !important;}
.member-icon {background-image: url("../images/green/member-icon.png");}

.sn-cat-header {background-image: url("../images/green/cat-header.png");}
.sn-cat-row {background-image: url("../images/green/cat-row.png");}
.sn-cat-footer {background-image: url("../images/green/cat-footer.png");}
div.cat-name {background-image: url("../images/green/cat-name-r.png");}
div.cat-name span {background-image: url("../images/green/cat-name-l.png");}

input.search, input.search:hover, input.search:focus {background-image: url("../images/green/search-form-bg.png");}
a.button1, input.button1, input.button3, a.button2, input.button2 {background-image: url("../images/green/buttonbg.png");}
.sn-nli-form, fieldset.quick-login input.inputbox {background-image: url("../images/green/nli-form-bg.png");}

.forabg, .forumbg {background-image: url("../images/green/bg_list.gif");}

#tabs a {background-image: url("../images/green/bg_tabs1.gif");}
#tabs a span {background-image: url("../images/green/bg_tabs2.gif");}
#navigation a {background-image: url("../images/green/bg_menu.gif");}
.rtl #navigation a {background-image: url("../images/green/bg_menu_rtl.gif");}