<!-- linksblock -->
<div class="portal_block bg2">
<div class="inner">
	<h3 style="text-align:center">{L_MENU_LINKS}</h3>
	<br/>
	<ul class="portalmenu" >
	    <li style="list-style:none"><a class="tip" title="{L_LINK1D}" href="{L_LINK1}" target="_blank"><b>{L_LINK1T}</b></a></li>
	    <li style="list-style:none"><a class="tip" title="{L_LINK2D}" href="{L_LINK2}" target="_blank"><b>{L_LINK2T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK3D}" href="{L_LINK3}" target="_blank"><b>{L_LINK3T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK4D}" href="{L_LINK4}" target="_blank"><b>{L_LINK4T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK5D}" href="{L_LINK5}" target="_blank"><b>{L_LINK5T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK6D}" href="{L_LINK6}" target="_blank"><b>{L_LINK6T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK7D}" href="{L_LINK7}" target="_blank"><b>{L_LINK7T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK8D}" href="{L_LINK8}" target="_blank"><b>{L_LINK8T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK9D}" href="{L_LINK9}" target="_blank"><b>{L_LINK9T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK10D}" href="{L_LINK10}" target="_blank"><b>{L_LINK10T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK11D}" href="{L_LINK11}" target="_blank"><b>{L_LINK11T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK12D}" href="{L_LINK12}" target="_blank"><b>{L_LINK12T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK13D}" href="{L_LINK13}" target="_blank"><b>{L_LINK13T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK14D}" href="{L_LINK14}" target="_blank"><b>{L_LINK14T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK15D}" href="{L_LINK15}" target="_blank"><b>{L_LINK15T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK16D}" href="{L_LINK16}" target="_blank"><b>{L_LINK16T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK17D}" href="{L_LINK17}" target="_blank"><b>{L_LINK17T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK18D}" href="{L_LINK18}" target="_blank"><b>{L_LINK18T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK19D}" href="{L_LINK19}" target="_blank"><b>{L_LINK19T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK20D}" href="{L_LINK20}" target="_blank"><b style="opacity: 0.5">{L_LINK20T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK21D}" href="{L_LINK21}" target="_blank"><b>{L_LINK21T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK22D}" href="{L_LINK22}" target="_blank"><b>{L_LINK22T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK23D}" href="{L_LINK23}" target="_blank"><b>{L_LINK23T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK24D}" href="{L_LINK24}" target="_blank"><b>{L_LINK24T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK25D}" href="{L_LINK25}" target="_blank"><b>{L_LINK25T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK26D}" href="{L_LINK26}" target="_blank"><b>{L_LINK26T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK27D}" href="{L_LINK27}" target="_blank"><b>{L_LINK27T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK28D}" href="{L_LINK28}" target="_blank"><b>{L_LINK28T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK29D}" href="{L_LINK29}" target="_blank"><b>{L_LINK29T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK30D}" href="{L_LINK30}" target="_blank"><b>{L_LINK30T}</b></a></li>
		<li style="list-style:none"><a class="tip" title="{L_LINK31D}" href="{L_LINK31}" target="_blank"><b>{L_LINK31T}</b></a></li>
	</ul>
<br/>
</div>
</div>
<br/>
<!-- end links -->

