<!-- linksblock -->
<div class="panel">
<div class="inner">
<span class="corners-top"><span></span></span>
	<h3 style="text-align:center">{L_MENU_LINKS}</h3>
	<br/>
	<ul class="portalmenu" >
	    <li style="list-style:none"><a href="{L_LINK1}"><strong>{L_LINK1T}</strong></a></li>
	    <li style="list-style:none"><a href="{L_LINK2}"><strong>{L_LINK2T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK3}"><strong>{L_LINK3T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK4}"><strong>{L_LINK4T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK5}"><strong>{L_LINK5T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK6}"><strong>{L_LINK6T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK7}"><strong>{L_LINK7T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK8}"><strong>{L_LINK8T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK9}"><strong>{L_LINK9T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK10}"><strong>{L_LINK10T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK11}"><strong>{L_LINK11T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK12}"><strong>{L_LINK12T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK13}"><strong>{L_LINK13T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK14}"><strong>{L_LINK14T}</strong></a></li>
	</ul>
<br/>
<span class="corners-bottom"><span></span></span>
</div>
</div>
<br/>
<!-- end links -->

