<!-- linksblock -->
<div class="portal_block">
<div class="inner">
	<h3 style="text-align:center">{L_MENU_LINKS}</h3>
	<br/>
	<ul class="portalmenu" >
	    <li style="list-style:none"><a href="{L_LINK1}" target="_blank"><strong>{L_LINK1T}</strong></a></li>
	    <li style="list-style:none"><a href="{L_LINK2}" target="_blank"><strong>{L_LINK2T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK3}" target="_blank"><strong>{L_LINK3T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK4}" target="_blank"><strong>{L_LINK4T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK5}" target="_blank"><strong>{L_LINK5T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK6}" target="_blank"><strong>{L_LINK6T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK7}" target="_blank"><strong>{L_LINK7T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK8}" target="_blank"><strong>{L_LINK8T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK9}" target="_blank"><strong>{L_LINK9T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK10}" target="_blank"><strong>{L_LINK10T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK11}" target="_blank"><strong>{L_LINK11T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK12}" target="_blank"><strong>{L_LINK12T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK13}" target="_blank"><strong>{L_LINK13T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK14}" target="_blank"><strong>{L_LINK14T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK15}" target="_blank"><strong>{L_LINK15T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK16}" target="_blank"><strong>{L_LINK16T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK17}" target="_blank"><strong>{L_LINK17T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK18}" target="_blank"><strong>{L_LINK18T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK19}" target="_blank"><strong>{L_LINK19T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK20}" target="_blank"><strong>{L_LINK20T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK21}" target="_blank"><strong>{L_LINK21T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK22}" target="_blank"><strong>{L_LINK22T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK23}" target="_blank"><strong>{L_LINK23T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK24}" target="_blank"><strong>{L_LINK24T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK25}" target="_blank"><strong>{L_LINK25T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK26}" target="_blank"><strong>{L_LINK26T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK27}" target="_blank"><strong>{L_LINK27T}</strong></a></li>
		<li style="list-style:none"><a href="{L_LINK28}" target="_blank"><strong>{L_LINK28T}</strong></a></li>
	</ul>
<br/>
</div>
</div>
<br/>
<!-- end links -->

