<!--  begin news  -->
<div class="panel_index">
	<div class="inner">
		<span class="corners-top">
			<span></span>
		</span>
		<center><img src="{PHPBB_ROOT_PATH}images/news.png" alt="lenta.png"/></center>
		<!-- BEGIN news_row -->
		<div class="post bg2" style="margin-bottom: 0px">
			<div class="inner">
				<span></span>
				<div class="postbody" style="width: 100%">
					<h4 class="first">{news_row.ATTACH_ICON_IMG}<a href="{news_row.LINK}"><strong>{news_row.HEADLINE}</strong></a></h4>
					<ul class="linklist">
						<li> &nbsp;{news_row.DATE}<a href="{news_row.LINK}"></a>
						</li>
					</ul>
					<div class="content">
						<br />
						{news_row.MESSAGE}
					</div>

					<!-- IF news_row.S_HAS_ATTACHMENTS -->
						<dl class="attachbox">
							<dt>{L_ATTACHMENTS}</dt>
							<!-- BEGIN attachment -->
								<dd>{news_row.attachment.DISPLAY_ATTACHMENT}</dd>
							<!-- END attachment -->
						</dl>
					<!-- ENDIF -->

					<!-- IF news_row.EDITED_MESSAGE or news_row.EDIT_REASON -->
						<div class="notice">{news_row.EDITED_MESSAGE}
							<!-- IF news_row.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{news_row.EDIT_REASON}</em><!-- ENDIF -->
						</div>
					<!-- ENDIF -->

					<div class="leftside">
					</div>
					<div class="rightside">
						<a href="#wrap" class="top" title="{L_BACK_TO_TOP}">{L_BACK_TO_TOP}</a>
					</div>
					<hr class="dashed" />
				</div>
				<span></span>
			</div>
		</div>
		<br />
		<!-- END news_row -->

		<span class="corners-bottom">
			<span></span>
		</span>
		<!-- IF NEWS_PAGINATION -->  
			<div class="pagination">
				 <span>
					{TOTALNEWS} &bull; {NEWS_PAGINATION}
					<br />
					<br />
				 </span>
			</div>
		<!-- ENDIF -->
	</div>
</div>
<br />
<br />
<!--  end news  -->