/* PBWoW Tribute style specific markup */

body {
	background-image: url("{T_THEME_PATH}/images/tribute2.jpg");
}

#page-body {
	box-shadow: 0 3px 12px 8px rgba(0,0,0,0.65);	
}

.headerbar { 
	background: rgba(0,0,0,0.75);
}

/* =Media queries
-------------------------------------------------------------- */

/* Small devices. */
@media screen and (max-width: 859px) {
	/* inherit from master */
}

@media screen and (max-width: 999px) {
	body {
		background-image: url("{T_THEME_PATH}/images/tribute2-small.jpg");
	}
}

@media screen and (min-width: 1000px) {
	#logo-wrap {
		min-height: 255px;
	}
	#logo {
		margin-top: 20px !important;
	}
	#wrapper {
		min-height: 700px;
	}
	#video-background {
		/*height: 600px;*/
		left: 50%;
		position: absolute;
		top: 0;
		z-index: -1000;
	}
	#video-element1 {
		background-image: none;
		position: absolute;
		top: 144px;
		right: 499px;
	}
	#video-element2 {
		background-image: none;
		position: absolute;
		top: 160px;
		left: 427px;
	}
	#video-element3 {
		background-image: none;
		position: absolute;
		top: -73px;
		left: -259px;
	}
}