<!-- INCLUDE overall_header.html -->
 
<h2>{L_ABOUTUS}</h2>
 
<div class="panel">
    <div class="inner"><span class="corners-top"><span></span></span>
 
    <div class="content">
        <p>
        Мы были основаны в этом году, чтобы предоставить Вам лучшие форумы в Интернете!
         
        Мы обещаем сделать следующее:
        <ul>
            <li>Обеспечить новым содержанием</li>
            <li>Обеспечить дружественную атмосферу</li>
            <li>Обеспечить среду, где можно повеселиться!</li>
        </ul>
        </p>
    </div>
 
    <span class="corners-bottom"><span></span></span></div>
</div>
 
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->