<div style="clear: both;"></div>
<div id="nav-wrap-left"></div>
<div id="nav-wrap-right"></div>

<div id="nav">
    <ul>

			<li class="float-left<!-- IF SCRIPT_NAME eq 'portal' --> active<!-- ENDIF -->">
				<a href="{U_PORTAL}"><img src="{T_THEME_PATH}/images/nav-home.png" width="16" height="16" alt="" />{L_PORTAL}</a>
            </li>
			<li class="divider"></li>
            <li<!-- IF SCRIPT_NAME eq 'index' --> class="active"<!-- ENDIF -->>
                <a href="{U_INDEX}">{L_INDEX}</a>
            </li>
			<li class="divider"></li>
            <li class="float-left">
                <a>{L_LINKS}</a>
                   	<div style="clear: both;"></div>
                  	<ul class="drop">
                        <li><a href="//eu.battle.net/wow/ru/guild/пиратская-бухта/Креатив/" target="_blank"><img src="{ROOT_PATH}/images/wow.ico" width="16" height="16" alt="" />Оружейная</a></li>
                        <li><a href="//worldoflogs.com/guilds/45969/" target="_blank"><img src="{ROOT_PATH}/images/worldoflogs.ico" width="16" height="16" alt="" />Wolrd of logs</a></li>
						<li><a href="//www.wowprogress.com/guild/eu/пиратская-бухта/Креатив/" target="_blank"><img src="{ROOT_PATH}/images/wowprogress.ico" width="16" height="16" alt="" />WoWProgress</a></li>
						<li><a href="//www.guildox.com/wow/guild/eu/Booty%20Bay/Креатив" target="_blank"><img src="{ROOT_PATH}/images/guildox.ico" width="16" height="16" alt="" />Guildox</a></li>
                   	</ul>          
            </li>
			<li class="divider"></li>
            <li class="float-left">
				<a><!-- IF (STREAMS_ONLINE) --><img src="{ROOT_PATH}/images/online.gif" width="20" height="15" alt="" /><!-- ENDIF -->{L_VIDEO} <!-- IF (STREAMS_ONLINE) -->({STREAMS_ONLINE_COUNT})<!-- ENDIF --></a>
                   	<div style="clear: both;"></div>
                  	<ul class="drop">
                        <li><a href="//www.youtube.com/user/tonyhowk2/videos" target="_blank"><img src="{ROOT_PATH}/images/youtube.ico" width="16" height="16" alt="" />Youtube</a></li>
						<!-- BEGIN stream_list_row -->
							<li><a href="{stream_list_row.LINK}" target="_blank" class="tip-right" title="{stream_list_row.STREAM_DESCRIPTION}"><!-- IF stream_list_row.STREAM_STATUS --><img src="{ROOT_PATH}/images/online.gif" width="20" height="15" alt="" /><!-- ELSE --><img src="{ROOT_PATH}/images/offline.gif" width="20" height="15" alt="" /><!-- ENDIF --><img src="{ROOT_PATH}/images/{stream_list_row.STREAM_PLATFORM_ICON}" width="16" height="16" alt="" />{stream_list_row.USERNAME}</a></li>
						<!-- END stream_list_row -->
					</ul>
            </li>
            <li class="divider"></li>

        
        <!-- IF not S_IS_BOT -->
        
        	<!-- IF S_USER_LOGGED_IN -->
            	<li class="float-right logout">
                	<a href="{U_LOGIN_LOGOUT}" class="tip" title="{L_LOGOUT}"><img src="{T_THEME_PATH}/images/logout.png" width="16" height="16" alt="" /></a>
                </li>
                <li class="divider float-right"></li>
            <!-- ENDIF -->
                     	
        	<li class="float-right<!-- IF SCRIPT_NAME eq 'ucp' and $CURRENT_PAGE != 'register' --> active<!-- ENDIF -->">
            	<!-- IF not S_USER_LOGGED_IN -->
            		<a href="{U_LOGIN_LOGOUT}"><img src="{T_THEME_PATH}/images/key.png" width="16" height="16" alt="" />{L_LOGIN_LOGOUT}</a>               
                <!-- ELSE -->
                	<a href="{U_PROFILE}"><img src="{T_THEME_PATH}/images/userdrop.png" width="16" height="16" alt="" />{S_USERNAME}</a>
                    <div style="clear: both;"></div>
                    <ul class="drop">
                        <li><a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a></li>
                        <li><a href="{U_PROFILE}">{L_PROFILE}</a></li>
                        <!-- IF U_MCP --><li><a href="{U_MCP}">{L_MCP}</a></li><!-- ENDIF -->
                        <!-- IF U_ACP --><li><a href="{U_ACP}">{L_ACP}</a></li><!-- ENDIF -->
						<!-- IF U_ACP or U_MCP --><li><a href="//images.guild-creative.ru">Картинкохранилище</a></li><!-- ENDIF -->
                    </ul>                         
                <!-- ENDIF -->
            </li>
            <li class="divider float-right"></li>
            
            <!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not S_SHOW_COPPA -->
            	<li class="float-right<!-- IF $CURRENT_PAGE == 'register' --> active<!-- ENDIF -->">
                	<a href="{U_REGISTER}"><img src="{T_THEME_PATH}/images/add.png" width="16" height="16" alt="" />{L_REGISTER}</a>
                </li>
                <li class="divider float-right"></li>
            <!-- ENDIF -->
            
        	<!-- IF S_DISPLAY_SEARCH -->
                <li class="float-right<!-- IF SCRIPT_NAME eq 'search' --> active<!-- ENDIF -->">
                    <a href="{U_SEARCH}"><img src="{T_THEME_PATH}/images/search<!-- IF S_USER_LOGGED_IN -->-drop<!-- ENDIF -->.png" width="16" height="16" alt="" />{L_SEARCH}</a>
                    <!-- IF S_USER_LOGGED_IN -->
                    	<div style="clear: both;"></div>
                    	<ul class="drop">
                            <li><a href="{U_SEARCH}">{L_SEARCH_ADV}</a></li>
                            <li><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a></li>
                            <!-- IF S_LOAD_UNREADS -->
                            	<li><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a></li>
                                <li><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a></li>
                                <li><a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></li>
                            <!-- ENDIF -->
                    	</ul>
                    <!-- ENDIF -->                    
                </li>
                <li class="divider float-right"></li>
            <!-- ENDIF --> 
                
            <!-- IF S_DISPLAY_MEMBERLIST -->
                <li class="float-right<!-- IF SCRIPT_NAME eq 'memberlist' --> active<!-- ENDIF -->">
                    <a href="{U_MEMBERLIST}"><img src="{T_THEME_PATH}/images/nav-members.png" width="16" height="16" alt="" />{L_MEMBERLIST}</a>
                </li>
                <li class="divider float-right"></li>
            <!-- ENDIF -->
            
            <!-- IF S_DISPLAY_PM -->
                <li class="float-right">
                    <a href="{U_PRIVATEMSGS}"><img src="{T_THEME_PATH}/images/nav-pm<!-- IF S_USER_UNREAD_PRIVMSG -->-new<!-- ENDIF -->.png" width="16" height="16" alt="" />{L_MESSAGES}</a>
                </li>
                <li class="divider float-right"></li>            
            <!-- ENDIF -->
                
                                                  
        <!-- ENDIF -->      

    </ul>
</div>