	</div>
    
</div><!-- /contentpadding -->



</div><!-- /wrap -->

<div style="clear: both;"></div>

<div class="footer" style='width: {$ABSOLUTION_BOARD_WIDTH};'>
	<!-- Please do not remove the following credit line. This style is free, and attribution such as this helps to keep it in development. Thanks -->
         &copy; Absolution design by Christian Bullock for <a href="http://www.hollywoodmurder.com">Hollywood Murders</a>
    <!-- Please do not remove the above credit line. This style is free, and attribution such as this helps to keep it in development. Thanks -->
    <br />Software by <a href="http://www.phpbb.com">phpBB</a>,
	<script type="text/javascript">
	function pop_aboutbbdkp()
	{
		search = window.open('aboutbbdkp.php','search','resizable=no,toolbar=no,status=no,height=400,width=680,screenX=50,screenY=25,left=100,top=70');
		search.focus();
	}
	</script>
	<a class="bbdkpcredits" onclick="javascript:pop_aboutbbdkp();" style="cursor:pointer;" onmouseover="style.textDecoration='underline';" onmouseout="style.textDecoration='none';">{L_BBDKP}</a>
    <!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br />{DEBUG_OUTPUT}<!-- ENDIF -->
	<!-- IF U_ACP --><br /><strong><a href="{U_ACP}">{L_ACP}</a></strong><!-- ENDIF -->
</div>


</div><!-- /noise -->

    <script type='text/javascript'>
    // <![CDATA[
       $(function() {
          $('.tip').tipsy({fade: true, gravity: 's'});
       });
    // ]]>
    </script>
<div>
	<a id="bottom" name="bottom" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>
</body>
</html>