<!-- INCLUDE overall_header.html -->
<style>
.stream-container {
    width: 360px;
    margin: 0px 0px 15px 20px;
    float: left;
}

.stream-container:hover {
    background-color: #313131;
}

.stream-content {
    width: 260px;
    margin-bottom: 5px;
}

.stream-logo {
    text-align: center;
    float: left;
    width: 75px;
    margin: 5px;
}

.stream-user {
    width: 260px;
    margin-top: 5px;
}

.stream-user-name,
.stream-status {
    margin: 5px;
}

.stream-user-name {
    width: 175px;
    margin-right: 5px;
}

.stream-description {
    padding: 5px;
}

.stream-status {
    font-size: 9px;
    height: 20px;
    padding-right: 5px;
}

.stream-status-text {
    margin-top: 2px !important;
}

.stream-status p {
    margin: 0px;
}

</style>
<h2>Гильдия Креатив</h2>
 
<div class="content">




<div class="caption gradient shadow-box round-top">
    Streams
    </div>


<a href="streams.php?stream_id=764">
<div class="stream-container shadow-box clearfix">
    <div class="stream-logo"><img src="html/gfx/ship.png" width="64" height="64"></div>
    <div class="stream-content float-left">
        <div class="stream-user clearfix shadow-box">
            <div class="stream-user-name float-left">
                <div class="classIcon icon_class_warrior"><p class="warrior">Ryvv</p></div>
            </div>
            <div class="stream-status float-right">
                <p class="float-right"><img src="html/gfx/icons/status-busy.png"></p>
                <p class="float-right stream-status-text">OFFLINE</p>
            </div>
        </div>

            </div>
</div>
</a>
<a href="streams.php?stream_id=2">
<div class="stream-container shadow-box clearfix">
    <div class="stream-logo"><img src="html/gfx/ship.png" width="64" height="64"></div>
    <div class="stream-content float-left">
        <div class="stream-user clearfix shadow-box">
            <div class="stream-user-name float-left">
                <div class="classIcon icon_class_warrior"><p class="warrior">Gorgil</p></div>
            </div>
            <div class="stream-status float-right">
                <p class="float-right"><img src="html/gfx/icons/status-busy.png"></p>
                <p class="float-right stream-status-text">OFFLINE</p>
            </div>
        </div>

            </div>
</div>
</a>
<a href="streams.php?stream_id=11">
<div class="stream-container shadow-box clearfix">
    <div class="stream-logo"><img src="html/gfx/ship.png" width="64" height="64"></div>
    <div class="stream-content float-left">
        <div class="stream-user clearfix shadow-box">
            <div class="stream-user-name float-left">
                <div class="classIcon icon_class_shaman"><p class="shaman">Pheenyx</p></div>
            </div>
            <div class="stream-status float-right">
                <p class="float-right"><img src="html/gfx/icons/status-busy.png"></p>
                <p class="float-right stream-status-text">OFFLINE</p>
            </div>
        </div>

            </div>
</div>
</a>
<a href="streams.php?stream_id=984">
<div class="stream-container shadow-box clearfix">
    <div class="stream-logo"><img src="html/gfx/ship.png" width="64" height="64"></div>
    <div class="stream-content float-left">
        <div class="stream-user clearfix shadow-box">
            <div class="stream-user-name float-left">
                <div class="classIcon icon_class_monk"><p class="monk">Valfar</p></div>
            </div>
            <div class="stream-status float-right">
                <p class="float-right"><img src="html/gfx/icons/status-busy.png"></p>
                <p class="float-right stream-status-text">OFFLINE</p>
            </div>
        </div>

            </div>
</div>
</a>



<a href="streams.php?stream_id=1398">
<div class="stream-container shadow-box clearfix">
    <div class="stream-logo"><img src="html/gfx/ship.png" width="64" height="64"></div>
    <div class="stream-content float-left">
        <div class="stream-user clearfix shadow-box">
            <div class="stream-user-name float-left">
                <div class="classIcon icon_class_paladin"><p class="paladin">Nairà</p></div>
            </div>
            <div class="stream-status float-right">
                <p class="float-right"><img src="html/gfx/icons/status-busy.png"></p>
                <p class="float-right stream-status-text">OFFLINE</p>
            </div>
        </div>

            </div>
</div>
</a>
                        </div>
	
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->