<a id="recent_topics"></a>

<div class="wow-recent" id="recent">
	<h2 class="open">{L_RECENT_TOPICS}</h2>

<!-- BEGIN recent_topics -->
	<!-- IF not recent_topics.S_TOPIC_TYPE_SWITCH and not recent_topics.S_FIRST_ROW -->
	</ul>
	<!-- ENDIF -->

	<!-- IF recent_topics.S_FIRST_ROW or not recent_topics.S_TOPIC_TYPE_SWITCH -->
	<ul>
	<!-- ENDIF -->
		<li>
			<dl class="icon" style="background-image: url({recent_topics.TOPIC_FOLDER_IMG_SRC}); background-repeat: no-repeat;">
				<dt style="<!-- IF recent_topics.TOPIC_ICON_IMG -->background-image: url({T_ICONS_PATH}{recent_topics.TOPIC_ICON_IMG}); background-repeat: no-repeat;<!-- ENDIF -->" <!-- IF recent_topics.TOPIC_PREVIEW_TEXT -->title="{recent_topics.TOPIC_PREVIEW_TEXT}" id="t{recent_topics.TOPIC_ID}"<!-- ELSE -->title="{recent_topics.TOPIC_FOLDER_IMG_ALT}"<!-- ENDIF -->><!-- IF recent_topics.S_UNREAD_TOPIC --><a href="{recent_topics.U_NEWEST_POST}">{NEWEST_POST_IMG}</a> <!-- ENDIF --><a href="{recent_topics.U_VIEW_TOPIC}" class="topictitle"<!-- IF recent_topics.TOPIC_AUTHOR_COLOUR --> style="color: {recent_topics.TOPIC_AUTHOR_COLOUR}"<!-- ENDIF -->>{recent_topics.TOPIC_TITLE}</a><!-- IF U_VIEW_UNREAD_POST and not S_IS_BOT --> &bull; <a href="{U_VIEW_UNREAD_POST}">{L_VIEW_UNREAD_POST}</a> &bull; <!-- ENDIF -->
				<!-- IF recent_topics.S_TOPIC_UNAPPROVED or recent_topics.S_POSTS_UNAPPROVED or recent_topics.S_TOPIC_REPORTED -->
				<div class="extra-icons">
					<!-- IF recent_topics.S_TOPIC_UNAPPROVED or recent_topics.S_POSTS_UNAPPROVED --><a href="{recent_topics.U_MCP_QUEUE}">{recent_topics.UNAPPROVED_IMG}</a> <!-- ENDIF -->
					<!-- IF recent_topics.S_TOPIC_REPORTED --><a href="{recent_topics.U_MCP_REPORT}">{recent_topics.REPORTED_IMG}</a><!-- ENDIF -->
				</div>
				<!-- ENDIF -->

					<!-- IF recent_topics.U_VIEW_FORUM and recent_topics.FORUM_NAME --><br /><!-- IF recent_topics.ATTACH_ICON_IMG -->{recent_topics.ATTACH_ICON_IMG} <!-- ENDIF --><!-- BEGIN parent_forums --><a class="forum" href="{recent_topics.parent_forums.U_VIEW_FORUM}">{recent_topics.parent_forums.FORUM_NAME}</a> &raquo; <!-- END parent_forums --><a class="forum" href="{recent_topics.U_VIEW_FORUM}">{recent_topics.FORUM_NAME}</a><!-- ENDIF -->

				</dt>

				<dd class="topic-stats">{recent_topics.LAST_POST_TIME} <a href="{recent_topics.U_LAST_POST}" class="last-post-icon" title="{L_VIEW_LATEST_POST}">{L_VIEW_LATEST_POST}</a></dd>
			</dl>
			<!-- IF recent_topics.TOPIC_PREVIEW_TEXT and S_JQUERY_TOPIC_PREVIEW -->
			<div id="topic_preview_t{recent_topics.TOPIC_ID}" style="display:none;">
				<!-- IF recent_topics.TOPIC_PREVIEW_TEXT2 --><strong>{L_FIRST_POST}</strong><hr /><!-- ENDIF -->
				<!-- IF recent_topics.TOPIC_PREVIEW_AVATAR --><div class="topic_preview_avatar">{recent_topics.TOPIC_PREVIEW_AVATAR}</div><!-- ELSEIF recent_topics.TOPIC_PREVIEW_PBAVATAR --><div class="topic_preview_avatar"><img src="{T_IMAGESET_PATH}/images/portraits/{recent_topics.TOPIC_PREVIEW_PBAVATAR}" width="64" height="64" alt="{topicrow.TOPIC_AUTHOR}" /></div><!-- ENDIF -->
				<div class="topic_preview_text_first"<!-- IF recent_topics.TOPIC_PREVIEW_COLOUR --> style="color:{recent_topics.TOPIC_PREVIEW_COLOUR}"<!-- ENDIF -->></div>
				<!-- IF recent_topics.TOPIC_PREVIEW_TEXT2 -->
					<div class="topic_preview_break"></div>
					<strong>{L_LAST_POST}</strong><hr />
					<!-- IF recent_topics.TOPIC_PREVIEW_AVATAR2 --><div class="topic_preview_avatar">{recent_topics.TOPIC_PREVIEW_AVATAR2}</div><!-- ELSEIF recent_topics.TOPIC_PREVIEW_PBAVATAR2 --><div class="topic_preview_avatar"><img src="{T_IMAGESET_PATH}/images/portraits/{recent_topics.TOPIC_PREVIEW_PBAVATAR2}" width="64" height="64" alt="{topicrow.TOPIC_AUTHOR}" /></div><!-- ENDIF -->
					<div class="topic_preview_text_last"<!-- IF recent_topics.TOPIC_PREVIEW_COLOUR2 --> style="color:{recent_topics.TOPIC_PREVIEW_COLOUR2}"<!-- ENDIF -->>{recent_topics.TOPIC_PREVIEW_TEXT2}</div>
				<!-- ENDIF -->
			</div>
			<!-- ENDIF -->
		</li>
	<!-- IF recent_topics.S_LAST_ROW -->
	</ul>
	<!-- ENDIF -->

<!-- BEGINELSE -->
	<ul>
		<li>{L_NO_TOPICS}</li>
	</ul>
<!-- END recent_topics -->
</div>

<!-- IF S_DISPLAY_SEARCH and not S_IS_BOT -->
<div class="block">
	<!-- IF S_LOAD_UNREADS or S_USER_LOGGED_IN -->
	<p>
		<!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN --> &bull; <a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a><!-- ENDIF --> 
	</p>
	<!-- ENDIF --> 
	<p>
		<a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a>
		&bull; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a>
	</p>
</div>
<!-- ENDIF -->

<!-- IF ADS_INDEX_CODE and not S_IS_BOT -->
<div class="block advertisement index">{ADS_INDEX_CODE}</div>
<!-- ENDIF -->