<!-- INCLUDE quick_login.html -->

<script type="text/javascript">
$(document).ready(function($){
	if (typeof jQuery != 'undefined') {
		$(".wow-index .forabg > h2, .wow-recent > h2, .index-extra > h2, .inner-footer > h2, .inner-footer").addClass("toggle")
        $(".wow-index .forabg, .wow-recent, .index-extra, .inner-footer").collapse({
			persist: true,
			open: function() {
				this.stop(true,true);
				this.addClass("open");
				this.slideDown(400);
			},
			close: function() {
				this.stop(true,true);
				this.slideUp(400);
				this.removeClass("open");
			}
		});

		$(".wow-index .subforums-menu").each(function() {
			$(this).html($(this).html().replace(/[\,][\ ]/g,""));
		});

		function subActivate(forum) {
			var menu = $(forum).children(".subforums-menu");
			var button = $(forum).children(".subforums-button");
			menu.stop(true,true);
			menu.css('opacity', 0)
			menu.slideDown(200);
			menu.animate(
				{ opacity: 1 },
				{ queue: false, duration: 300 }
			);
			menu.addClass("active");
			button.addClass("active");
		}

		function subDeactivate(forum) {
			var menu = $(forum).children(".subforums-menu");
			var button = $(forum).children(".subforums-button");
			menu.stop(true,true);
			menu.slideUp(200);
			menu.animate(
				{ opacity: 0 },
				{ queue: false, duration: 200 }
			);
			menu.removeClass("active");
			button.removeClass("active");
		}
		
		function subDetermine(button, force) {
			var menu = $(button).siblings(".subforums-menu");
			if (menu.hasClass("active") && force) {
				return;
			}
			else if (menu.hasClass("active")) {
				subDeactivate($(button).parent());
			} else {
				$(".wow-forum div.active").each(function() {
					subDeactivate($(this).parent());
				});
				subActivate($(button).parent());
			}
		}
		
		$(".subforums-button").click(function (e) {
			subDetermine($(this),false);
			e.stopPropagation();
			e.preventDefault();
			return false;
		}); 

		var timeout;
		$(document).delegate(".subforums-button", "mouseenter", function() {
			subDetermine($(this),true);
			clearTimeout(timeout);
		})
		
		$(document).delegate(".subforums-menu", "mouseenter", function() {
			clearTimeout(timeout);
		})
		
		$(document).delegate(".subforums-button, .subforums-menu", "mouseleave", function() {
			var $this = $(this);
			timeout = setTimeout(function() {
				subDeactivate($this.parent());
			}, 1000)
		})

		<!-- IF S_NAVMENU -->
		function menuActivate(forum) {
			var menu = $(forum).children(".nav-popup");
			var button = $(forum).children("a");
			menu.stop(true,true);
			menu.css('opacity', 0)
			menu.slideDown(200);
			menu.animate(
				{ opacity: 1 },
				{ queue: false, duration: 300 }
			);
			menu.addClass("active");
			button.addClass("active");
		}

		function menuDeactivate(forum) {
			var menu = $(forum).children(".nav-popup");
			var button = $(forum).children("a");
			menu.stop(true,true);
			menu.slideUp(200);
			menu.animate(
				{ opacity: 0 },
				{ queue: false, duration: 200 }
			);
			menu.removeClass("active");
			button.removeClass("active");
		}
		
		function menuDetermine(button, force) {
			var menu = $(button).siblings(".nav-popup");
			if (menu.hasClass("active") && force) {
				return;
			}
			else if (menu.hasClass("active")) {
				menuDeactivate($(button).parent());
			} else {
				$("#breadcrumb .nav-popup").each(function() {
					menuDeactivate($(this).parent());
				});
				menuActivate($(button).parent());
			}
		}

		if(!jQuery.browser.mobile) {
			var timeout2;
			$(document).delegate("#breadcrumb .nav-link > a", "mouseenter", function() {
				menuDetermine($(this),true);
				clearTimeout(timeout2);
			})
			
			$(document).delegate("#breadcrumb .nav-popup", "mouseenter", function() {
				clearTimeout(timeout2);
			})
			
			$(document).delegate("#breadcrumb .nav-link > a, #breadcrumb .nav-popup", "mouseleave", function() {
				var $this = $(this);
				timeout2 = setTimeout(function() {
					menuDeactivate($this.parent());
				}, 700)
			})
		}
		<!-- ENDIF -->

		<!-- IF S_JQUERY_TOPIC_PREVIEW -->
		if(!jQuery.browser.mobile) {
			$("dt[title]").topicPreview({
				"dir"   : "{S_CONTENT_DIRECTION}", // do not change
				"theme" : "", // use "light" or "dark" topic preview theme
				"delay" : 500, // sets the delay before showing topic previews (in milliseconds)
				"width" : 360, // sets the width of topic previews (in pixels)
				"left"  : 35, // sets the position offset from the left (in pixels)
				"drift" : 15, // sets the amount of vertical animation, use negative values to change direction (in pixels)
				"noavatar" : "{T_IMAGESET_PATH}/images/portraits/def.gif"
			});
		}
		<!-- ENDIF -->

		<!-- IF S_TOPBAR_FIXED -->
		var $window = $(window);
		var $pane = $('body');
	
		function checkWidth() {
			var windowsize = $window.width();
			if (windowsize > 670) {
				if (!$pane.hasClass('top-bar-fixed')) {
					$pane.addClass('top-bar-fixed');
				}
			} else {
				if ($pane.hasClass('top-bar-fixed')) {
					$pane.removeClass('top-bar-fixed');
				}
			}
		}
		checkWidth();
		$(window).resize(checkWidth);
		<!-- ENDIF -->
	}
});
</script>

<!-- INCLUDE scripts_footer_jqstyle.html -->

<!-- IF S_TOOLTIPS_FOOTER and not S_IS_BOT -->
<!-- IF WOWTIPS_SCRIPT -->{WOWTIPS_SCRIPT}<!-- ENDIF -->
<!-- IF D3TIPS_SCRIPT -->{D3TIPS_SCRIPT}<!-- ENDIF -->
<!-- IF ZAMTIPS_SCRIPT -->{ZAMTIPS_SCRIPT}<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF TRACKING_CODE -->{TRACKING_CODE}<!-- ENDIF -->
