<!-- INCLUDE overall_header.html -->
<div class="content">
	<div style="float: right; width: 23%;">
		<!-- IF S_DISPLAY_RECRUIT -->
		<!-- INCLUDE recruit/recruit.html -->
		<br/>
		<!-- ENDIF -->
		<!-- INCLUDE dkp/block/wowprogressblock.html -->
	</div>
	<div class="clearfix">
		<!-- IF TWITCH -->
			<h2>{STREAMER_NAME}</h2>
			<div class="twitch">
				<object type="application/x-shockwave-flash" width="698" height="470" id="live_embed_player_flash" data="http://ru.twitch.tv/widgets/live_embed_player.swf?channel={CHANNEL}" bgcolor="#000000">
					<param name="allowFullScreen" value="true">
					<param name="allowScriptAccess" value="always">
					<param name="allowNetworking" value="all">
					<param name="movie" value="http://ru.twitch.tv/widgets/live_embed_player.swf">
					<param name="flashvars" value="hostname=ru.twitch.tv&amp;channel={CHANNEL}&amp;auto_play=true&amp;start_volume=100">
				</object>
			</div>
			<div class="chat">
				<iframe frameborder="0" scrolling="no" id="chat_embed" width="698" height="400" src="http://www.twitch.tv/chat/embed?channel={CHANNEL}&amp;popout_chat=true"></iframe>
			</div>
		<!-- ENDIF -->
		<!-- IF CYBERGAME -->
			<h2>{STREAMER_NAME}</h2>
			<iframe src="http://api.cybergame.tv/p/embed.php?c={CHANNEL}&w=698&h=360&type=embed" width="698" height="360"></iframe>
		<!-- ENDIF -->
		<!-- IF GOODGAME -->
			<h2>{STREAMER_NAME}</h2>
			<iframe frameborder="0" width="698" height="400" src="http://goodgame.ru/player2?{GOODGAME_STREAM_ID}"></iframe>
			<iframe id="chatIframe" scrolling="no" width="698" height="400" frameborder="0" src="http://goodgame.ru/chat/{CHANNEL}/"></iframe>
		<!-- ENDIF -->
	</div>
	<div class="clearfix">
		<h2>{TITLE}</h2>
		<!-- BEGIN stream_list_row -->
			<a href="streams.php?stream_id={stream_list_row.STREAM_ID}">
				<div class="wow-forum">
					<div class="stream-logo"><img src="{T_IMAGESET_PATH}/ship.png" width="64" height="64"></div>
					<div class="stream-content float-left">
						<div class="stream-user clearfix shadow-box">
							<div class="stream-user-name float-left">
								<div class="classIcon icon_class_{stream_list_row.CLASS}">
									<p class="{stream_list_row.CLASS_NAME}">{stream_list_row.CHARACTER}</p>
								</div>
							</div>
							<div class="stream-status float-right">
								<p class="float-right"><img src="{T_IMAGESET_PATH}/{stream_list_row.STREAM_STATUS_IMG}"></p>
								<p class="float-right stream-status-text">{stream_list_row.STREAM_STATUS}</p>
							</div>
						</div>
						<!-- IF stream_list_row.STREAM_DESCRIPTION != '' -->
							<div class="stream-description shadow-box">
								{stream_list_row.STREAM_DESCRIPTION}
							</div>
						<!-- ENDIF -->
					</div>
				</div>
			</a>
		<!-- END stream_list_row -->
	</div>
</div>
<!-- INCLUDE jumpbox.html -->
<!-- INCLUDE overall_footer.html -->