<!-- INCLUDE ucp_header.html -->

<h2>{L_STREAM_EDITING}</h2>

<form id="characters" method="post" action="">

	<div class="panel">
		<div class="inner">
			<span class="corners-top"><span></span></span>
			<!-- IF MAX_STREAMS_EXCEEDED -->
				<p class="error">{ERROR_MAX_STREAMS_EXCEEDED}</p>
			<!-- ELSE --> 
				<!-- IF ADD_MODE -->
				<p>{L_ADD_STREAM}</p>
				<!-- ELSE -->
				<p>{L_UPDATE_STREAM}</p>
				<!-- ENDIF -->
				<fieldset>
					<dl>
						<dt>
							<label for="stream_platform_id">{L_STREAM_PLATFORM}</label>
						</dt>
						<dd>
							<select name="stream_platform_id" id="stream_platform_id">
								<!-- BEGIN stream_platform_row -->
									<option value="{stream_platform_row.VALUE}"{stream_platform_row.SELECTED}>{stream_platform_row.OPTION}</option>
								<!-- END stream_platform_row -->
							</select>
						</dd>
					</dl>
					<dl>
						<dt>
							<label for="stream_channel_name">{L_CHANNEL_NAME}</label>
							<br />
							<span>{L_CHANNEL_NAME_EXPLAIN}</span>
						</dt>
						<dd>
							<input type="text" name="stream_channel_name" id="stream_channel_name" maxlength="25" value="{STREAM_CHANNEL_NAME}" class="inputbox">
						</dd>
					</dl>
					<dl>
						<dt>
							<label for="stream_description">{L_STREAM_DESCRIPTION_TITLE}</label>
						</dt>
						<dd>
							<input type="text" name="stream_description" id="stream_description" maxlength="47" value="{STREAM_DESCRIPTION}" class="inputbox">
						</dd>
					</dl>
					<dl>
						<dt>
							<label for="associated_thread">{L_STREAM_LINK}</label>
						</dt>
						<dd>
							<input type="text" name="associated_thread" id="associated_thread" maxlength="200" value="{ASSOCIATED_THREAD}" class="inputbox">
						</dd>
					</dl>
				</fieldset>
				<fieldset class="submit-buttons">
				<!-- IF ! ADD_MODE -->
					<!-- IF CAN_UPDATE -->
					<input type="submit" name="update" value="{L_UPDATE_STREAM}" class="button1" />
					<!-- ENDIF -->
					<!-- IF CAN_DELETE -->
					<input type="submit"  name="delete" value="{L_DELETE_STREAM}" class="button1" />
					<!-- ENDIF -->
				<!-- ELSE -->
					<input type="submit" name="add" value="{L_ADD_STREAM}" class="button2" /> 
					<input type="reset" name="reset" value="{L_RESET}" class="button1" />
				<!-- ENDIF -->
				</fieldset>
			<!-- ENDIF --> 
			<span class="corners-bottom"><span></span></span>
		</div>
	</div>
{S_FORM_TOKEN}
</form>

<!-- INCLUDE ucp_footer.html -->